[2017-07-05 21:46] fdr opened #1 "Decompress1X panic crash"
While fetching a backup (not a wal segment). Commit: 96e46adc0722e20462be8e0e1ac96bd84f1792b5

[code]

Postscript:

I think these two branches should be swapped, i.e. an error should be printed before doing the output-length check. Typical Go convention the output of a multi-valued-return that includes an error may still allow an output result value to be returned in an undefined state.

https://g

[2017-07-19 22:42] fdr opened #2 "Need to strip more from the archive path"
I was giving wal-g backup+restore a try and I think I spotted a difference in behavior from WAL-E:

While it is true most tar archives box all archive contents in a directory (e.g. postgres.tar.gz would untar to the directory `postgres`), not so for Postgres backups, because there is no sensible/idiomatic directory name in which a database directory is contained.

Thus the member `data/pg_hba.conf

[2017-07-19 22:56] #2 closed

[2017-07-28 21:03] #1 closed

[2017-08-10 21:42] fdr opened #3 "Crash when fetching"
Unexpected EOF

[code]

[2017-08-18 00:25] #3 closed

[2017-08-18 18:32] willglynn opened #5 "wal-g should be less smart about AWS credentials"
`wal-g` requires the environment variables `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` in order to [prepare an `aws.Config` that uses them](https://github.com/wal-g/wal-g/blob/a533befe61ddb8035bee77dfe9a23e17dcbc6e51/upload.go#L93-L96). This allows `wal-g` to return an error message early if it's not configured, but this approach breaks three other methods of supplying credentials which I actu

[2017-08-18 18:42] willglynn opened #6 "AWS_REGION should be optional"
Right now, the user has to specify `WALE_S3_PREFIX` and `AWS_REGION`. However, `WALE_S3_PREFIX` indicates an S3 bucket, S3 buckets have globally unique names, and the [`s3:GetBucketLocation` API](https://docs.aws.amazon.com/sdk-for-go/api/service/s3/#S3.GetBucketLocation) can take a S3 bucket name and return its region. `AWS_REGION` should therefore be optional, with `wal-g` able to determine the

[2017-08-18 18:54] willglynn commented on #5
Oh, and in case you'd like to use the default credential chain _and_ check that credentials exist before making an AWS API call:

[code]

[2017-08-18 19:06] willglynn opened #7 "wal-g should support other PG* environment variables"
PostgreSQL client tools support [a common set of environment variables](https://www.postgresql.org/docs/current/static/libpq-envars.html). `wal-g` should respect them.

Similar to #5, `wal-g` is being smarter than it needs to be, [reading `PGHOST` and creating a `pgx.ConnConfig`](https://github.com/wal-g/wal-g/blob/9a54cb99772ddc3d1a8673e3acfa38fd86ea587e/connect.go#L15-L22). `wal-g` should instea

[2017-08-18 20:21] stub42 opened #9 "S3 only"
Will the scope of WAL-G remain S3 only, or should it grow support for OpenStack Swift and Azure like WAL-E ?

[2017-08-18 20:47] bithavoc opened #10 "AWS_SECURITY_TOKEN is not really optional"
Readme states `AWS_SECURITY_TOKEN` is optional, I keep getting:
[code]

[2017-08-18 20:50] #7 closed

[2017-08-18 20:51] patrick-vbn opened #11 "WAL-G should support Google Cloud Storage"
It would be wonderful if WAL-G would support storage to Google Cloud Storage.
For reference, Google Cloud Storage using Go is documented here: https://cloud.google.com/storage/docs/reference/libraries
https://godoc.org/cloud.google.com/go/storage

[2017-08-18 21:11] GrappigPanda commented on #11
There's a related issue located here: https://github.com/wal-g/wal-g/issues/9

This is an interesting design point. Currently the `S3ReaderMaker` is explicitly aware that it uses S3 and references it here: https://github.com/wal-g/wal-g/blob/master/backup.go#L40

It seems, however, a better design might be that `ReaderMaker` is a struct whereas `Backup` could be the interface for different cloud s

[2017-08-18 21:15] fdr commented on #6
Unfortunately, it's not optional in every region, and new regions will make it less and less optional, on account of SigV4. GetBucketLocation is not always granted via IAM and I'm not too keen to expend extra API round-trips for this.

[2017-08-18 21:15] #6 closed

[2017-08-18 21:18] fdr commented on #9
Depends on what people submit. A patch with good and fairly comprehensive and consistent test methodology with the other backends is more likely to be accepted.

[2017-08-18 21:18] willglynn commented on #6
I didn't say `wal-g` should disregard `AWS_REGION`, I suggested it should fall back to calling `s3:GetBucketLocation` if `AWS_REGION` were unspecified. Paired with #5, this would allow `wal-g` to run knowing only `WALE_S3_PREFIX`, with implicit defaults functioning for all the other parameters.

Would you accept a PR to this effect?

[2017-08-18 21:18] #9 closed

[2017-08-18 21:21] fdr commented on #11
The key considerations for accepting a patch that it has a good testing paradigm. In WAL-E I often had to make changes blind to backends that I did not develop. Sometimes, but not often, I could get expert help to maintain those, but it was quite rare over a long time scale.

So, while I'm not dismissing multiple backends out of hand, the software engineering bar is higher this time.

[2017-08-18 21:58] bithavoc commented on #5
Another consequence is that `AWS_SECURITY_TOKEN` is required (already reported in https://github.com/wal-g/wal-g/issues/10)

Additionally, in order to support other non-official S3 implementations such as https://minio.io/ we would need to be able to setup a few custom settings:
[code]

Example:
[code]

`S3ForcePathStyle` is required so the aws go sdk doesn't try to call `http://backups.s3.amazona

[2017-08-18 23:21] katie31 commented on #10
Done: https://github.com/wal-g/wal-g/commit/68f31ea9aeab73235224f8dbd4396c63cba97818. The environment variable has also been renamed `AWS_SESSION_TOKEN` to conform to the SDK defaults package.

[2017-08-18 23:21] #10 closed

[2017-08-18 23:21] #5 closed

[2017-08-18 23:26] bithavoc commented on #5
@katie31 what about `Endpoint`, `DisableSSL` and `S3ForcePathStyle`, should I open another issue for those?

[2017-08-18 23:41] katie31 commented on #5
Yea, that would be great.

[2017-08-19 11:58] bithavoc opened #14 "Logs for upload retry errors"
It's a bit hard to debug what the issue is with failed uploads, the following error doesn't tell much:
[code]

A more useful output would be:
[code]

upload.go
[code]

[2017-08-19 12:05] bithavoc opened #15 "Support alternative S3 implementations"
Additionally, in order to support other non-official S3 implementations such as https://minio.io/ we would need to be able to setup a few custom settings:

[code]

Example:
[code]

`S3ForcePathStyle` is required so the aws go sdk doesn't try to call `http://backups.s3.amazonaws.com/wal-g` and instead reach the minio server using sub path resources as in `http://minio:9000/backups/wal-g`.

Source h

[2017-08-20 14:14] jonjomckay opened #17 "Support backups located in the root of a bucket"
It looks like backups are expected to be located in subfolders inside an S3 bucket, but our WAL-E backups are located in the root - it'd be great if this were supported too! Currently, a lot of `panic: runtime error: index out of range` messages are thrown when trying to hack around this by changing the locations in the configuration.

[2017-08-21 07:39] rodo opened #18 "File encryption"
Will wal-g support GPG encryption as wal-e does ? It's a main feature when storing on public clouds sensitive datas.

[2017-08-21 19:42] fdr commented on #18
Maybe. Someone needs to write a patch that includes tests.

[2017-08-21 19:43] fdr commented on #14
That sounds reasonable.

[2017-08-21 23:29] benubois opened #19 "runtime error: slice bounds out of range"
Hello,

I'm interested in trying out wal-g. Currently I'm trying to restore an existing backup that was created by *wal-e* and I'm getting an error:

[code]

These are the environment variables in `/etc/wal-e.d/reader/`:

[code]

Any idea what I'm doing wrong?

Thanks!

[2017-08-21 23:37] benubois commented on #19
Appears the problem is related to using `LATEST`. Specifying a base backup seems to work, i.e.

[code]

[2017-08-22 20:16] fdr commented on #17
I'd take a patch unless it is really, really ugly for some reason.

[2017-08-22 20:16] fdr commented on #19
Thanks for narrowing things down, perhaps you might consider writing a patch and a test?

[2017-08-24 07:29] Slach opened #21 "[FEATURE-REQUEST] swift support?"
is there roadmap with swift storage support for backups?

[2017-08-28 01:11] sammcj commented on #9
We were interested in WAL-G for non-s3 use as well.

[2017-08-28 16:42] jonjomckay commented on #17
@fdr I attempted to try and build this locally to patch it myself, but I found the whole Go build chain pretty confusing... any tips? I think this should be quite a small change - checking the length of the array/slice before operating on it :)

[2017-08-29 23:01] fdr commented on #21
Not unless someone submits a patch with good tests.

[2017-08-29 23:01] #21 closed

[2017-08-29 23:01] #18 closed

[2017-08-29 23:03] fdr commented on #17
Did you set up $GOPATH? Did you see https://github.com/wal-g/wal-g#development?

[2017-08-29 23:03] dgarbus opened #22 "DecompressLzo: write to pipe failed"
## Versions
CentOS 7.3
wal-g v0.1.2
wal-e 1.0.3 (creator of source basebackup)

## Problem
Two attempts to `backup-fetch` a ~1TB basebackup have resulted in wal-g failing with the following stack trace:
[code]

In both cases, wal-g appeared to be near the end of the restore (over 1TB of data was written to the restore directory) and failed with the same trace. After inspecting the restore and atte

[2017-08-29 23:03] fdr commented on #15
Closing in favor of PR.

[2017-08-29 23:03] #15 closed

[2017-08-29 23:03] fdr commented on #11
Well, I await a patch, unless someone wants to continue discussion.

[2017-08-29 23:05] theckman commented on #11
@fdr why not leave it open with a `Help Wanted` tag?

[2017-08-29 23:32] fdr commented on #11
I suppose because it clutters things -- not that I'm particularly super-tidy -- and the number of times I've seen that solicit work for a large feature is zero.

[2017-08-30 01:12] GrappigPanda commented on #11
@fd Sorry I was expecting some sort of feedback toward the interface around which further storage provider options would be designed, but all I got was "write your tests" which ought to be standard practice in any modern project.

Did you have any input around the suggested interface? As stated earlier, perfectly willing to put in work to get this off the ground.

[2017-08-30 01:16] theckman commented on #11
@GrappigPanda Depending on your work style, and my schedule, I may have some spare cycles to help out too, or at least provide some 👀  / testing of the resulting work.

Unrelated to the above, but I think you may have tagged the wrong user. /cc @fdr

[2017-08-30 02:59] fdr commented on #11
I don't have strong opinions on how to organize the code: I think the devil in the details will be in getting as comprehensive coverage as feasible, including fault injection, with tests. To the extent I have stylistic issues, I will change things.

Also difficult will be maximuming that tests can have some consistency between backends: while platform-specific tests are not at all discouraged -- c

[2017-08-30 03:04] GrappigPanda commented on #11
Nah, perfect response. I mostly wanted to avoid a drive-by commit with a
lot of different patches without having ran it by someone first.

On Tue, Aug 29, 2017 at 10:00 PM, Daniel Farina <notifications@github.com>
wrote:

[2017-08-30 03:14] fdr commented on #11
I'll reopen the issue so it's easier to find unless everybody goes awol on me :)

[2017-08-30 03:15] fdr commented on #11
I suppose it's a popular strain of software engineer that likes to micro-determine design details up-front (including myself, when I was younger). Sorry, I should have been more effusive in anticipation of that common expectation.

[2017-08-31 11:46] michalgutkowski opened #23 "Support for postgresql 9.5"
https://github.com/wal-g/wal-g/blob/a2f3a7038eb547712b1dd83e941d795af0aab5b6/connect.go#L34

Hi, we would like to test wal-g, but it seem, PG 9.6 is only supported as it uses function pg_start_backup  from 9.6 with 3 arguments, where as in 9.5 is only 2:
https://www.postgresql.org/docs/9.5/static/functions-admin.html

[2017-09-08 11:39] x4m commented on #18
I'm on it and planning to do some tests next week
https://github.com/x4m/wal-g

[2017-09-08 19:56] fdr commented on #23
I wasn't planning adding code paths to support this. Maybe use WAL-E for a few more years.

[2017-09-08 19:56] #23 closed

[2017-09-20 13:36] airblade opened #26 "Permission denied for function pg_start_backup"
I am trying to get `backup-push` working but keep hitting a permissions problem.

[code]

The file `wal-g-wrapper` sets up the env variables and then calls `wal-g`:

[code]

The `myuser` postgresql user/role has permission for the `mydatabase` database.  Initially it didn't have any role attributes so I gave it `replication` thinking that would solve the permission problem.  It didn't.

So then I

[2017-09-20 18:35] airblade commented on #26
I see from the docs on [Backup Control Functions](https://www.postgresql.org/docs/9.6/static/functions-admin.html#FUNCTIONS-ADMIN-BACKUP-TABLE) that `pg_start_backup` is:

Which seems to answer my question.

The [docs on the `REPLICATION` role attribute](https://www.postgresql.org/docs/9.6/static/sql-createrole.html) say:

So it seems that `REPLICATION` isn't quite right for `pg_start_backup`.

[2017-09-20 18:35] #26 closed

[2017-09-21 16:03] reyalcantara commented on #19
I am having issue both for
**backup-push:**
[code]
**wal-push:**
[code]

[2017-09-22 11:09] airblade opened #27 "Any plans to implement backup-list?"

[2017-09-28 11:44] x4m opened #28 "Refactoring"
Hi!
There are few places that I want to refactor, e.g.:

- Reorganize main()
https://github.com/wal-g/wal-g/blob/master/cmd/wal-g/main.go#L92
- Handle absence of backups in backup-fetch LATEST gracefully, not in panic
https://github.com/wal-g/wal-g/blob/master/backup.go#L94
- Rename TarBall.SetSize() to TarBall.AddSize()
https://github.com/wal-g/wal-g/blob/master/structs.go#L84

et c.

How do you

[2017-10-04 07:43] azhar1709 opened #30 "Environment Variables for Connection with S3"
Hi,

We are using Softlayer S3 storage & which works on Swift API. I have successfully setup WAL-E using S3 storage by defining WALE_S3_PREFIX, SWIFT_AUTH_VERSION, SWIFT_PASSWORD, SWIFT_USER & SWIFT_AUTHURL under /etc/wal.e.d/env.

I have installed the wal-g & moved it to /usr/bin but when I am executing wal-push it is giving an error "FATAL: Did not set the following environment variables:WALE_S3

[2017-10-04 11:29] Harrykris opened #31 "Tablespace Support"
Does WAL-G support tablespace backup , It seems WAL-G didn't pick the data from tablespace and while restoration it didn't ask any tablespace details(RESTORE SPEC) like --restore-spec, which WAL-E asks while using backup-fetch command.

And upon starting the restored cluster throws the error of missing tablespace.

Are we missing anything here ..?

Any pointers in this direction will be appreciate

[2017-10-15 18:06] x4m commented on #17
I think PR #33 will fix this. @jonjomckay , can you please check your scenario against that pull request?

[2017-10-22 02:37] patf commented on #19
I ran into this with `backup-fetch`. It seems to have been caused by a trailing slash in my `WALE_S3_PREFIX` value. Removing it fixed `backup-fetch` both with `LATEST` and a backup name.

[2017-10-23 06:09] x4m commented on #22
Hi!
Do you observe this on smaller bases?
We need to determine is the size of DB root cause or something else from your environment.

[2017-10-23 06:17] x4m commented on #19
For LATEST will be fixed in #33, probably, today.
For things reported by @reyalcantara seems like it's a bug, needs some further investigation.

[2017-10-23 06:25] #28 closed

[2017-10-24 06:45] x4m commented on #17
Fixed.

[2017-10-24 06:45] #17 closed

[2017-10-24 06:46] x4m commented on #19
Fixed.

[2017-10-24 06:46] #19 closed

[2017-10-25 11:45] x4m commented on #14
I think this code still worth attention. From time to time I get there "Bucket not found" error...

[2017-10-26 06:43] x4m commented on #14
@bithavoc, thanks, pushed.
It is not perfect still.
`2017/10/26 11:37:24 upload: failed to upload 'walg_test_local/basebackups_005/base_0000000100000002000000E3/tar_partitions/part_001.tar.lz4': NoSuchBucket: The specified bucket does not exist.
	status code: 404, request id: 8d475e73d6de54a2, host id: . Restarting in 1.78 seconds
2017/10/26 11:37:25 upload: failed to upload 'walg_test_local/baseb

[2017-10-26 06:50] x4m commented on #14
I'll close this issue, but if you will have some more nice code please create new.

[2017-10-26 06:50] #14 closed

[2017-10-26 08:19] x4m commented on #31
Try mkdir pg_tblspc (unless you are talking about actual tablespace support).

[2017-10-30 19:49] fdr opened #35 "Some LZOP archives don't work"
I'm still taking this apart but it can be related to #22.

I have this backup that has hundreds of archives, but one of those archives causes a systematic crash, whereas `lzop` seems fine with it. There's not much to do but for me to go through it with a fine-tooth comb, but, FYI.

cc @x4m

[2017-10-31 05:19] x4m commented on #35
Is this just one file? Can you share it with me? I'd like take a look.

[2017-10-31 21:19] fdr commented on #35
On Mon, Oct 30, 2017 at 10:19 PM Andrey Borodin <notifications@github.com>
wrote:

Nope. Confidential data.

[2017-11-01 17:52] fdr commented on #35
Okay. It's a bug, and not the first one, in the rasky pure-go lzo library. The C binding version works perfectly. At this point I have to decide whether I want to involve a C dependency (probably making it optional via build tag) or fix the rasky go-lzo library.

[2017-11-02 10:15] x4m commented on #27
I'm want to add backup-list as part of #29 because interface features are at scope there during refactoring.

[2017-11-02 19:52] fdr commented on #35
I think I'm going to go the route of binding the C lzo library via build tag. LZO support is basically transitional anyway, and sinking time into fixing the pure-go implementation may not be worth it.

[2017-11-06 07:16] azhar1709 commented on #30
Hi Team,
Is there any update on above query for setting up environment variable to connect with S3 storage on Softlayer. Any help would be greatly appreciated.

[2017-11-08 13:09] x4m commented on #30
Hi @azhar1709 ! SWIFT_* veriables are not supported as for now. But seems like your problem is related to just not configured environment variables for WAL-G. WAL-G does not see WALE_S3_PREFIX.

[2017-11-15 12:47] andrewgy8 commented on #9
Excuse the following ignorance as I know nearly nothing about the code behind wal-e or wal-g, but  how much effort would this take? Would it be more-or-less porting existing wal-e python code thats used for Azure backups to Go?  Or would the owners want a novel approach to fetching backups, WAL logs, etc. that keeps the speed of wal-g up to snuff?

Again, sorry for the seemingly stupid question. W

[2017-11-17 14:58] ocharles opened #39 "Surprising UX followed by panic"
I have just added wal-g to one of my machines, but I don't entirely understand how to use it. Here is a transcript from a first time user:

[code]

I didn't expect the second command (`wal-g backup-push`) to work, but I did expect it to inform me about the path. It didn't, so I called with `--help` which caused some kind of panic and crash.

[2017-11-17 17:42] x4m commented on #39
Hi Oliver! Embedded docs and code for arg parsing - these places need improvement. I do not want to accumulate too much of tech debt here.
I'm planning to work on them, but help would be welcome. If you have some spare time, I can explain what exactly, but ISTM that you observe this problem.

[2017-11-17 17:58] x4m commented on #39
And about how to use.
First, you need to setup WAL archiving commands. Backups are useless without archived WALs during the time of backup.
Then you can backup-push, the second arg is PGDATA directory. But there must be env vars which are important too: they describe how to connect to PostgreSQL and where to place backups.

When you have backups and WAL archive - it's time to have a disaster, caus

[2017-11-18 13:41] ocharles commented on #39
Right, that's the same process as WAL-E I think - I already have that working fine. I'm a little surprised about the panic above though - I also get that if I try and use wal-g to back up my `/var/db/postgresql/ directory.

[2017-11-18 16:05] x4m commented on #39
@ocharles , could you please provide call stack or other details of failure when you call wal-g with PGDATA as argument after backup-push and proper pg env vars setted?

[2017-11-19 13:38] ocharles commented on #39
Do I have to do anything beyond running wal-g to generate a call stack?

[2017-11-19 14:06] x4m commented on #39
console output should be enough

[2017-11-20 12:19] x4m opened #40 "WAL prefetch"
@fdr , I'll create an issue here to keep the discussion on implementation details open.

# Brief description
I'm working now on WAL-prefetch feature. Postgres asks WAL-fetch command only when it has nothing else to do. This is not very performant design, we can download WALs that probably will be needed when Postgres is busy with a replay of what's in hand already.

# Details
In the email conversa

[2017-11-20 19:46] fdr commented on #40
Some thoughts on fallback:

I suggest making a `.wal-g` directory that should be excluded from back-up. In it, you can store the last successful archival fetch-type, whether lzo or lz4. Try that one first.

The number of "misses" will be minimal.

As seen in WAL-E's `.wal-e` directory, careful management of that directory to ensure it does not blow up in size due to bugs is the main care required

[2017-11-22 17:46] x4m commented on #40
How do you think, should we delete prefetched files from old runs?
Normally they should not occur, but I see scenario when they can appear:
Network is gone for 50ms, wal-fetch does not see any progress and ignores prefetch.

If Postgres asks for WAL X, we can safely drop prefetches like X-1?

[2017-11-22 19:14] fdr commented on #40
On Wed, Nov 22, 2017 at 9:46 AM Andrey Borodin <notifications@github.com>
wrote:

That's what WAL-E does. If memory serves, it also has some logic to empty
the directory on a timeline mis-prediction.

[2017-11-23 09:11] x4m commented on #40
I've committed this feature. wal-fetch optimization is not done yet.
I'll be back to this later, currently I need to do more complex tests and rollout WAL-G on some servers.

[2017-11-23 09:11] #40 closed

[2017-11-26 10:12] x4m commented on #31
I've addressed this issue in the previous commit. That's not actual tablespace support. But that's the issue referenced here, so I'll close this. If the problem will occur in future versions, plz report it.

[2017-11-26 10:12] #31 closed

[2017-11-27 15:02] jnicholls commented on #27
This can be closed?

[2017-11-27 15:04] airblade commented on #27
Aha, looks like it's in master now.  Thanks, everyone!

[2017-11-27 15:04] #27 closed

[2017-11-27 15:07] jnicholls opened #42 "basebackup_005 and wal_005"
What is the reason for these folders being named as such?  Is there intention to have these folders actually be dynamically named based on part of the WAL prefix, in order to better organize the objects rather than dumping them all into the same logical location?  If yes, then I will rephrase this issue's title to suggest implementing this behavior.

[2017-11-27 15:57] x4m commented on #42
005 does not stand there for timeline id (first 8 digits of WAL filename). In WAL-E this was the version of the backup format, AFAIK. In WAL-G currently, these digits are in string literals (but not for long, I hope).

[2017-11-27 16:11] jnicholls commented on #42
Roger that, thanks.  I'll close this issue.  I thought for a moment it was a timeline id to add some organization to archive placement.  I have no experience with WAL-E so forgive my ignorance.

[2017-11-27 16:11] #42 closed

[2017-11-27 17:09] x4m commented on #42
I believe every couple of eyes is important, your question is valuable. Thanks for asking, Jarred.

[2017-11-28 17:03] jnicholls opened #44 "S3 Object Listing Does Not Paginate"
Calls such as `GetBackups` and `GetWals` do not paginate across S3's maximum object return list size of 1000.  These parts of the code base—especially the `GetWals` call—should be refactored to call `ListObjectsV2Pages` rather than `ListObjectsV2`.  The consequence of this today is that deleting old backups may only clear up to the oldest 1000 WAL segments, but none further.

[2017-11-28 17:08] jnicholls opened #45 "Backup folder is not properly deleted during a delete operation"
When deleting a backup, the backup's folder is specified as the object key name, which is not an actual object and therefore will not match nor delete any objects.

https://github.com/wal-g/wal-g/blob/master/commands.go#L175

This implementation must be refactored to first query the objects located under that backup folder, and then pass those object identifiers to the delete function.

[2017-11-29 08:30] x4m commented on #44
Thanks! I've addressed this issue in commit c812f4a.
If you have some spare time, can I ask you to verify that fixes work for you?

[2017-11-29 12:04] x4m commented on #45
Hi! Thank you for reporting this. I've pushed fix. Testing will be highly appreciated.

[2017-11-30 23:58] jnicholls commented on #44
Good to go!  Nice work.

[2017-11-30 23:58] #44 closed

[2017-11-30 23:58] jnicholls commented on #45
Heck yeah!  Good to go.  Thanks.

[2017-11-30 23:58] #45 closed

[2017-12-04 12:46] x4m opened #46 "Recreate folder structure during backup-fetch"
Seems like [this commit](https://github.com/wal-g/wal-g/commit/6251f26ff6eed9b918781943815befd8da2c881f) is incomplete.
I've encountered problem with absent pg_logical\snapshots and pg_logical\mappings.
Getting errors
[ 2017-12-04 15:29:14.792 MSK ,,,402290,58P01 ]:ERROR:  could not open directory "pg_logical/snapshots": No such file or directory
until manual mkdir

There are two possible options

[2017-12-05 12:39] #46 closed

[2017-12-05 22:36] jnicholls opened #47 "Deletion Failures"
Seeing errors such as this when deleting a large backlog of WALs (this is the first time I've tested multi-page WAL deletion, i.e. more than 1000 objects):

[code]

[2017-12-06 12:08] x4m commented on #47
Now works for me. Thanks for reporting!
Generating WAL was a bit tedious
`for i in $(seq 1 1001); do psql -c "update x set i = i+1;select pg_switch_xlog();"; done`

[2017-12-07 19:26] xarg opened #49 "Postgres10 support"
When I try to run ` wal-g backup-push` I get this error:

[code]

wal-g version: 0.1.2
PostgreSQL version: 10.1

Looks like it's something similar to this issue here: https://github.com/wal-e/wal-e/pull/339

[2017-12-08 06:28] x4m commented on #49
Hi, Alex! Thanks for your interest in making WAL-G better.
This one was fixed at #25
I think we should have a release soon with this and many other cool new features.

[2017-12-08 06:35] xarg commented on #49
Ah, thanks @x4m didn't see that one. Closing this.

[2017-12-08 06:35] #49 closed

[2017-12-19 12:23] x4m commented on #47
I do not observe these problems now. Thus I'ss close the issue. Feel free to open issue on any sight of problems with WAL-G.

[2017-12-19 12:23] #47 closed

[2018-01-05 03:14] diranged commented on #22
We just ran into this as well.. we're trying to migrate from WAL-E 0.9.8 to WAL-G 0.1.3:

[code]

We don't have any smaller databases.. but this was around 450GB into a 600GB restore.

[2018-01-05 08:19] x4m commented on #22
@diranged it's known to be a bug in the lzo library, see #35.
Is your data confidential? If no - I have interest in fixing that lib, but I do not have repro yet. But, unfortunately, can neither guaranty nor promise ETA...

[2018-01-05 16:03] diranged opened #50 "Should detect when `archive_command` is not set right.."
We are doing some development of new puppet code for managing databases, and in my testing I hadn't yet set `archive_command` to anything on our dbmaster. Obviously we need to do that .. but if you miss it, and you try to execute a `wal-g backup-push`, it just hangs near the end:

[code]

Digging into the Postgres logs, we saw:

[code]

Adding `archive_command = "/bin/true"` and HUPing postgres so

[2018-01-05 17:28] x4m commented on #50
Matt, thanks for reporting this!
Testing nonempty archive_command does not seem like a proper solution. If you don't have WALs WAL-G should inform the user that backup is inconsistent.
Checking %wal-g% in archive_command is neither a solution: user can do some scripting like archive_command = 'my_fancy_script.sh'.

During backup-push, we can check whether we have at least some WALs related to this

[2018-01-05 17:40] x4m opened #51 "Google Summer of Code 2018 with PostgreSQL"
Hi!
If you are a student and wish to contribute to WAL-G I've created [GSoC project under the umbrella of PostgreSQL](https://wiki.postgresql.org/wiki/GSoC_2018#WAL-G_delta_backups_with_WAL_scanning_.282018.29).
Feel free to contact me on the matter.

Also, if you are doing graduation project I have some ideas for you too. And surely, you can combine both graduation project and GSoC project (with

[2018-01-05 21:17] diranged commented on #50
I totally agree that specifically checking `archive_command = .*wal-g.*` is wrong. I guess I just meant that a simple check to make sure it’s set _at all_ might help. It would of course be better to check if a real backup can even possibly be taken.

[2018-01-06 09:37] x4m commented on #50
There are some options.
1. If archive_mode is off, we do not need archive_command. But, WAL-G ignores xlog\wal folder, thus, we should not allow backups, they will be inconsistent. Either way, include WALs folder into backup.
2. If archive_mode is not off, we can check archive_command. I've reproduced hanging WAL-G.

I think that we should add checks somewhere here. https://github.com/wal-g/wal-g/

[2018-01-16 07:42] lesovsky opened #55 "wal-g crashes when datadir is symlink."
Hi,
wal-g crashes when it's trying to push backup and datadir is symlink.
It's not a critical issue, but it seems to me it's better to return error (or walk to destination dir) instead of crash.
wal-g version 0.1.3

[code]

[2018-01-16 08:20] x4m commented on #55
Hi, Alexey! Thanks for reporting that. I'll fix this.

[2018-01-16 09:43] x4m commented on #55
Actually, there is one more important issue, which cannot be easily resolved.
Many expected precondition violations (like PostgreSQL is not running) finish with stack trace and look like a crash, that is also bad and worth fixing.

But in your case, this is crash, indeed. I've addressed this issue in 027b50aea38fd914b17327917bf651da8ff15125 , I'm going to cut a release after fixing #50, hopefully

[2018-01-16 09:44] #55 closed

[2018-01-16 13:16] lesovsky opened #56 "backup-list doesn't show backups"
If backups stored in the root directory of the bucket, the 'backup-list' command shows "No backups found". Replacing backups to subdirectory is solving the problem.
[code]

[2018-01-17 10:02] PierreDucroquet commented on #35
I'm facing a similar issue. I tried replacing wal-e by wal-g for a restore job and got issues with some wal files that could not be uncompressed by wal-g while lzop accept them happily.
I can not share the file for privacy/legal reasons, but I would be happy to help testing new code if needed.

[2018-01-17 10:24] x4m commented on #35
@PierreDucroquet , do you use GPG encryption? Can you share error message?
If you have a message "DecompressLzo: did not fill skip", probably, it is another issue.

Just today I've encountered an error, which manifests oftener with GPG encryption: here's the call https://github.com/wal-g/wal-g/blob/master/decompress.go#L46 which must use ioutil.ReadFull(). Hope to fix this week.

[2018-01-17 10:28] PierreDucroquet commented on #35
Yep, we have GPG encryption and it had another issue I worked around.

Basically, my patched function looks like : 
[code]

But since I could not fully test that it works (since I had that second LZO issue), I chose not to submit it (also, I never wrote Go before, and to be honest I don't like that language very much and feel not comfortable at all with it)

[2018-01-17 11:32] x4m commented on #35
@PierreDucroquet may I ask you to test this patch?
https://yadi.sk/d/ykc-9CYf3RXpdv

[2018-01-17 12:48] #56 closed

[2018-01-17 12:49] x4m commented on #56
I've addressed this in the recent commit. If the issue appears again (after coming release), plz ping me

[2018-01-17 13:12] x4m commented on #35
@PierreDucroquet you can test it in current pre-release.

[2018-01-18 10:38] PierreDucroquet commented on #35
I confirm, it fixes the “DecompressLzo: did not fill skip“ error message. Only the bug in the pure-go lzo library remains.

[2018-01-18 10:59] x4m commented on #35
Thanks!
Unfortunately, I'm not one of those happy(?) owners of broken lzo file.. can't fix this

[2018-01-18 11:59] PierreDucroquet commented on #35
@x4m I was under the impression you were going to switch from the pure go lzo library to a wrapper around the C lzo library. If it's not what you intend to do, I could then try to spend some time on this issue (I already have a small unlzo binary written using the go library to confirm the issue)

[2018-01-18 12:14] x4m commented on #35
@PierreDucroquet well, this topic is in @fdr's hands.
I just think that it's not pointless to fix that library regardless of it's usage in WAL-G, probably it is used elsewhere and their users suffer from this bug too.

[2018-01-22 16:08] diranged opened #58 "On WAL-PUSH, WAL-G sometimes doesn't get the same log files as WAL-E?"
Ok, this is a strange one. I am trying to migrate from WAL-E to WAL-G, but for a number of reasons, we have to maintain both for now. So we are dual-writing backups and WAL logs to two different S3 paths.

To do that, we run two backups each night (one at 8AM UTC, one at 12AM UTC). We also set our `archive_command` to:
[code]

The behavior we see thats strange is that our `wale_archive_command.sh`

[2018-01-22 16:13] Aevin1387 commented on #58
I'm doing the same to my environment at the moment. What's happening is `wal-e` checks the `pg_xlog/archive_status` directory for ready files, but `wal-g` does not. What I ended up doing is copying the WALs to a tmpdir that also had a `archive_status` dir, and pointing `wal-e` there.

Here is an example:

[code]

[2018-01-23 05:48] x4m commented on #58
Is WAL-E doing this for a reason?
What are pros and cons of adding this magic too?

[2018-02-02 10:02] lesovsky opened #60 "prefetch failed"
Hi,
I've restored a backup and during recovery, WAL segments are copied as usual but I also see messages `WAL-prefetch failed:  no such file or directory`. What is the cause?

recovery.conf
[code]

[2018-02-02 10:39] x4m commented on #60
Hi, Alexey! Thanks for reporting this!
Seems like WAL-G couldn't fork himself for WAL-prefetch.
By "fork" I mean just exec itself here
https://github.com/wal-g/wal-g/blob/master/prefetch.go#L82

This issue will not incur any problems with the restored cluster. But without prefetch restoration will be a bit slower. I'm looking into it.

[2018-02-02 10:53] x4m commented on #60
Chances are you are exporting PATH in /etc/wal-g/env to cope with #59 and this PATH do not lead to WAL-G anymore?

[2018-02-02 11:02] lesovsky commented on #60
I've set absolute path to wal-g in `restore_command` and it's become ok. Huh, I had to do that before write here )))

[2018-02-02 11:02] #60 closed

[2018-02-02 11:16] x4m commented on #60
I still think it is a bug. I'm not inclined to address it ASAP, since there are a workaround and no easy fix. But eventually, this must be fixed.

[2018-02-04 12:07] benubois opened #61 "backup-push runtime error"
Hi,

I'm getting the following error when attempting a backup-push. Any ideas on what might be wrong? Please let me know if I can provide any more information.

Thanks!

[code]

[2018-02-04 12:14] x4m commented on #61
Hi, Ben! Thanks for the report!
Unfortunately, WAL-G does not support 9.2 as for now. This functionality is expected in #38. Partially, that's the reason why we have such inconsistent error message. Probably, I should fix that.
I have no ETA on #38, but if you wish, you can contribute to its development, seems like that not so much of additional functionality left there unimplemented.

[2018-02-04 12:24] benubois commented on #61
Ah ok! That makes sense. I’m planning on upgrading to 10.1 soon and I’ll try again after that.

Thanks!

[2018-02-04 12:24] #61 closed

[2018-02-05 22:37] benubois opened #62 "Missing WAL"
Hi,

I'm running into an issue with a missing WAL file. Currently I have postgres archiving with both `wal-e` and `wal-g`

[code]

However when restoring from `wal-g`, postgres reports an error:

[code]

In the `wal-g` log it does in fact seem to skip right over `000000010000B6A90000008E`

[code]

The `wal-e` log does show this segment:

[code]

I do not see any errors reported in the log.

Is the

[2018-02-06 07:37] x4m commented on #62
Hi, Ben!
I think that you encountered #58. WAL-E uploaded a file from archive_status and Postgres does not call WAL-G for this file anymore.

Just by coincidence right now one of my QA databases experienced the necessity of this feature (bulk upload from archive_status, which, in your case was done by WAL-E). And just yesterday Zalando guy at PgConf.Russia asked to implement it.
So, I think it's a

[2018-02-06 09:28] x4m commented on #58
@diranged @Aevin1387 JFYI I'm planning to implement this magic too, this magic brings performance.

[2018-02-06 09:29] x4m commented on #62
BTW after implementing this thing with archive_status WAL-G will steal files from WAL-E too (WAL-E already is doing this)

[2018-02-06 14:08] benubois commented on #62
Interesting! Does that mean if I were just archiving with wal-g that this would not happen?

[2018-02-06 16:19] Aevin1387 commented on #58
@x4m Not only performance, but due to a misconfiguration in my dual wal-g/wal-e script, I've found that it would also add some safety by grabbing missed wals.

[2018-02-08 17:28] x4m commented on #62
Yes. I think so.

I've done the implementation of archive_status scan. Right now QA tests are running. Tomorrow morning (UTC+3) I'm planning to make the new release.

[2018-02-10 04:44] benubois commented on #62
Thanks! I switched to using wal-g only and have successfully backed up and recovered with it several times.

Also, I noticed 0.1.5 went up with support for scanning archive_status.

Not sure if this is at all related but I occasionally see "checkpoints are occurring too frequently" in my postgres logs. Will this release help with that or is that just mean I need to adjust my checkpoint settings?

[2018-02-10 04:44] #62 closed

[2018-02-10 11:22] bartdag opened #63 "archive file has wrong size"
Hi, we are currently testing wal-g with a small database that writes an entry every minute. When we try to restore the DB, we sometimes get this error:

[code]

If we start over (rm -rf the data dir, backup-fetch, then recovery), we sometimes manage to fully restore the db, sometimes we get another similar error:

[code]

The relevant part of the postgresql.conf:

[code]

The recovery.conf file wh

[2018-02-10 14:45] x4m commented on #63
Hello, Barthelemy! Your case seems both strange and important.
I want to ask for some additional info.
What is WAL-G version?
What S3 implementation do you use?
What is the size of WALs 000000010000000000000028 and 000000010000000000000027 in S3?
Do you have any signs of the file system and network malfunction?
Is restore point beyond 000000010000000000000028?
Can you include json sentinel file, o

[2018-02-10 14:52] x4m commented on #62
@benubois about "checkpoints are occurring too frequently": there must be also hint in logs that you can increase max_wal_size in logs. I think it is reasonable.

What is going on is settings of your database are not suitable for your workload, your database accumulates WAL too quickly and has to do checkpoint often.
The frequent checkpoint is good for fast recovery but affects performance. Checkp

[2018-02-10 15:58] bartdag commented on #63
wal-g version:
I downloaded: https://github.com/wal-g/wal-g/releases/download/v0.1.5/wal-g.linux-amd64.tar.gz

I use AWS S3 (in ca-central-1), standard storage class.

S3 reports these sizes:
- walg/testvm/wal_005/000000010000000000000027.lz4 94.4 KB
- walg/testvm/wal_005/000000010000000000000028.lz4 96.9 KB

The restore point was beyond 000000010000000000000028 (LATEST, which included hundreds of

[2018-02-10 16:26] x4m commented on #63
Do you observe traces of OOMs of WAL-PREFETCH in syslog?
Does the bug reproduce on previous pre-release (0.1.4)?

Access to S3 would be great, but I think I can setup similar test site myself. Latest tests were acquired on big VMs. Anyway, seems like I'll be able to look closely only on Monday morning...

[2018-02-10 21:26] bartdag commented on #63
I executed the recovery 5 more times (3 without a recovery_target_time and 2 with one). One of the runs with a recovery_target_time set a few hours after the base backup encountered this problem with a wal segment (`[29887] FATAL:  archive file "000000010000000000000031" has wrong size: 12582912 instead of 16777216`). Memory usage was minimal at the time ~200 MB out of 2 GB RAM, there were no OOM

[2018-02-11 00:08] bartdag commented on #63
Some more tests:

1. I executed a recovery with wal-g 0.1.4 five times and everything went fine.

2. I tried the exact same recovery with wal-g 0.1.5 five times and 3 recoveries failed.

The errors were different than the ones I reported previously. I actually encountered the same error while testing 0.1.5 but did not report it because I thought I had done something wrong :-)

[code]

[2018-02-11 09:01] x4m commented on #63
Thank you for testing!
I cannot reproduce the problem in my environment (I use Porto containers and mdadm over SSD).
Per your report, I'll mark 0.1.5 release as pre-release.
Tomorrow, I'll try to reproduce on Amazon EBS

[2018-02-11 09:33] x4m commented on #63
Looks like something similar [happened before](https://groups.google.com/forum/#!topic/wal-e/8wwiDkrNLXQ)

@bartdag can I ask you for one more experiment? v0.1.5 + WALG_MAX_DOWNLOAD_CONCURRENCY set to 0 (do not leave it this way, just for tests)
if this will not fail we will be sure it is the problem in prefetch.

[2018-02-11 09:52] x4m commented on #63
I've misspelled correct setting, it should be WALG_DOWNLOAD_CONCURRENCY

[2018-02-11 11:53] bartdag commented on #63
Hi,

I first executed 5 runs with wal-g and I encountered the problem three times again so at least I knew I could reproduce the error.

I then set WALG_DOWNLOAD_CONCURRENCY to 0, but only for the wal-fetch in recovery (backup-fetch seemed to get stuck and do nothing after printing BUCKET...SERVER...).

I ran the recovery 5 times and encountered no error so this seems to be the problem.

I removed

[2018-02-11 12:06] ocharles commented on #39
I'm no longer trying to use wal-g, so I'll close this.

[2018-02-11 12:06] #39 closed

[2018-02-11 14:30] x4m commented on #63
Thanks, this proves that prefetch is buggy, I'll look into it. Probably, will fire my pwn t2 cluster.

[2018-02-11 20:09] benubois opened #65 "Crash with disappearing base backup segment"
Hi,

I ran into a crash recently during a `backup-push`. The server happened to be running [pg_repack](https://github.com/reorg/pg_repack) at the same time, and I'm guessing that's the cause of this since it creates and drops lot of temporary tables.

I'm not sure if this is something wal-g could/should handle, but I thought I'd report it to see if it could recover from this particular error.

Tha

[2018-02-11 20:10] benubois commented on #65
I forgot to mention that is is wal-g version 0.1.4.

[2018-02-11 22:53] bithavoc opened #67 "create restore checkpoint right before every backup"
Hi.

I was wondering if it makes sense to create a checkpoint right before each backup, so in case we're using a backup combined with recovery.conf then we can use `recovery_target_name` so it doesn't restore beyond the checkpoint for the backup but it's still able to fetch all the wal logs necessary to reach the point of recovery via `restore_command`.

It should be as easy as calling `pg_create_

[2018-02-12 07:27] x4m commented on #65
Thanks for reporting. This was fixed at https://github.com/wal-g/wal-g/commit/258a0897e12d33766e7c3b60852d79eea48e428f and in 0.1.5
But 0.1.5 possibly contain bug in prefetch, I cannot reproduce it, but will have another stable release soon.

[2018-02-12 08:51] x4m commented on #67
Johan, thanks for your suggestion!
It looks like recovery_target = 'immediate' will do the trick
https://www.postgresql.org/docs/current/static/recovery-target-settings.html

Though, there is some unexpected useful thing in this: pg_probackup does this to get consistency time of backup.
Look, WAL-G thinks that time of upload of last JSON file - is a minimum possible time for PITR. But it is far fr

[2018-02-12 08:52] x4m commented on #67
There is one more problem - WAL-G can create backup from replication slave, where you, probably, cannot call  pg_create_restore_point()

[2018-02-12 11:26] x4m commented on #63
@bartdag I still cannot reproduce the problem, but I have added fixes for some possible bugs to v0.1.6. Can I ask you to test this release?
Your help is invaluable, thanks.

[2018-02-12 11:46] bithavoc commented on #67
@x4m `recovery_target = 'immediate'` does the trick indeed.

(hah! when I went through the docs I ignored the first option since it says **"Technically, this is a string parameter, but 'immediate' is currently the only allowed value."** , I thought the parameter was set by default 🤦‍♂️ )

I don't think we need to know when exactly is the recovery time timestamp, what I think it's confusing is that

[2018-02-12 11:46] #67 closed

[2018-02-12 20:17] bartdag commented on #63
Hi,

I reproduced the problem with 0.1.5, but it took me another 10 attempts again. It seemed less frequent than before.

I tried to reproduce the problem with 0.1.6 by running it 10 times (both backup-fetch and wal-fetch used 0.1.6) and I did not see the problem.

If you are fine with these results, I will stop my spot instance :-)

[2018-02-13 06:05] x4m commented on #63
If the bug was there, it would manifest itself with probability 65%.
Technically, I'd be fine with 95%, which would be achieved with 18 more runs.

But I think that it's time for me to go to AWS and do that 18 runs myself.
Thank you for your work!

[2018-02-13 09:55] bartdag commented on #63
I'll run the test for the next hour and report the results. I used to be able to reproduce the bug more easily, which is why I was not totally confident about my last runs.

[2018-02-13 10:04] bartdag commented on #63
So I encountered this bug with 0.1.6. Notice how it is different than the bug I originally reported, but it matches another error that I reported later in this [comment](https://github.com/wal-g/wal-g/issues/63#issuecomment-364706989):

[code]

This is problematic because 000000010000000000000033 is not the last segment, but postgresql stop reading logs after that.

[2018-02-13 10:13] x4m commented on #63
Ok, the bug is still there.
Seems like instead of 16MB of WAL you get 16MB of zeroes (v0.1.6 would not let WAL-G give PostgreSQL anything besides 16Mb file).
When you have standby_mode=off PostgreSQL stops recovery and thinks that it is here already. This is, obviously, wrong.
I'll do more debugging...

[2018-02-13 10:23] bartdag commented on #63
Maybe one thing that would help is a logging statement that tells the exact size of the downloaded compressed segment (maybe with a sha sum on it) and then a sha sum on the uncompressed segment. When an error occurs, it would then be obvious if the problem is with the uncompression process vs the network download.

These wal segments are almost empty because there is very little activity on the da

[2018-02-13 10:29] x4m commented on #63
WAL-G keeps it's prefetch cache in location where it is asked to restore file. I.e. if you have a cluster of 9.6 at /tmp/data/ it will have cache at /tmp/data/pg_xlog/.wal-g/prefetched

[2018-02-13 10:30] bartdag commented on #63
The clusters are (obviously) in different directories so that is not the problem. Thanks!

[2018-02-13 16:30] x4m commented on #63
Essentially, there are two things to consider:
1. Fsync prefetched files
2. Check XLOG_PAGE_MAGIC of prefetched files to check their integrity

Comments in WAL-E are repeating many times that fsync is omitted to increase performance.
Anyway, I have to build my reliable stage reproduction to fix this permanently.

[2018-02-14 11:11] x4m commented on #63
@bartdag you do not use tmpfs for pg_xlog directory, right?

I cannot reproduce the problem in Amazon...
I've gone through WAL-E code and only difference I've found is that it does link when moving from running to prefetched, while WAL-G is doing rename.

[2018-02-14 11:24] bartdag commented on #63
I do not use tmpfs. It's straight on the root ebs drive (gp-2, ebs encrypted, ext4). I've kept the VM up if you want me to run additional tests.

I'm not surprised you were not able to reproduce the bug, it seems to be a very elusive one. At some point I was seeing the error every other run and now I often have to make 10-15 runs to see something. I can try tonight to spin another VM with the same

[2018-02-14 11:59] x4m commented on #63
Can I ask you to try current master version?
Here's compiled version which I scp'ed from my Amazon VM https://yadi.sk/d/BmMl6C263SPJUN
The difference is that Link instead of Rename

[2018-02-14 12:06] x4m commented on #63
My t2 instances are not encrypted.. may be, it's somehow related

[2018-02-14 14:29] bartdag commented on #63
1. Tried 0.1.5 and encountered the invalid magic number 0000 in log segment 2 times out of 5 (yay?).

2. Tried the wal-g binary you sent me. The first time I got an error and a logging statement I never saw before:

Logging statement:
[code]

Error:

[code]

I will try tonight to spin a new VM and see if I can reproduce the problem.

[2018-02-15 02:17] bartdag commented on #63
I tried with another vm but with the same bucket: t2-small, 8 gb gp-2 encrypted, ext-4, ubuntu 16.04, postgresql 10.

One thing I should have mentioned since the beginning is that the wal level is set to logical.

I got the following error 3 times out of 3 with the zipped version you posted (on three different wal segments).

[code]

Interestingly, I never encountered an error with 0.1.4 in 10 run

[2018-02-15 07:48] x4m commented on #63
@bartdag can you give me S3 keys for the bucket with archive? I'm running through thousands of WAL and you somehow get 3/3 bingo :)

Also, how do you create encrypted volume? I cannot start VM encrypted
https://yadi.sk/i/N2vE8csl3SR5Wo
But I can attach encrypted volume

[2018-02-15 08:35] bartdag commented on #63
For the encrypted boot volume, you need to create an encrypted AMI first (ref: https://aws.amazon.com/blogs/aws/new-encrypted-ebs-boot-volumes/). I'll create a user for you and send you the credentials. It might be easier to clone the content at some point if you want to perform more tests.

[2018-02-15 08:57] bartdag commented on #63
Email sent.

[2018-02-15 12:12] x4m commented on #63
Thanks, I can reproduce from your WALs!
So far it's not neither encryption, nor fsync. But it is related to prefetch multithreading. I go on hunting.

[2018-02-15 13:19] bartdag commented on #63
Yes! Good luck! I also noticed that the bucket is encrypted at rest, but this should be transparent to any aws library used to interact with S3.

[2018-02-16 10:24] bartdag commented on #63
Hi @x4m , just to confirm, can I delete my temporary vm since you are able to reproduce the problem (I'll keep the bucket up)?

[2018-02-16 11:07] x4m commented on #63
Yes, but plz keep S3 files. Many thanks, Barthelemy!

[2018-02-16 14:52] x4m commented on #63
I've added checks of XLOG_PAGE_MAGIC and WAL file size, replaced hardlinks with file renames, added several error checks and now I'm observing stable restoration of your 0x1800+ WAL files from the archive.
I'll leave the machine go on testing for the weekend (have accumulated lots of CPU credits between hacking) and if everything goes OK will cut stable release on Monday.

[2018-02-16 14:54] x4m commented on #63
By the way, WAL-E recommends using standby_mode = on. In this case, if cluster fetches malformed WAL it just retries. I think in WAL-G we have to add the same recommendation. Anyway, it is good that we managed to ensure no malformed WALs will go through.

[2018-02-19 05:33] #63 closed

[2018-02-19 05:34] x4m commented on #65
Check out release 0.1.7, the problem must be solved there.

[2018-02-19 05:34] #65 closed

[2018-02-19 05:48] benubois commented on #65
Thank you! Appreciate all your work on wal-g.

[2018-02-19 09:33] bartdag commented on #63
Hi Andrey, since this issue is closed, I assume I can keep a backup of the S3 files but close the bucket (and revoke your user)?

Thanks!

[2018-03-02 05:51] tamalsaha opened #74 "Support other cloud providers"
We are using wal-g in our project https://github.com/kubedb . We would like to support Google Cloud Store, Azure Blob Store and Openstack Swift as supported backends. This issue is intended to discuss the general design for this.

We have contributed this type of changes to other tools, example: restic: https://github.com/restic/restic/pulls?utf8=%E2%9C%93&q=is%3Apr+diptadas . The general pattern

[2018-03-02 10:30] x4m commented on #74
Cool!
Your plan sounds great. Though, I'd suggest some recommendations:
1. There is a problem with retry infrastructure. There is hand-written code for Upload retries. But, actually, AWS SDK allows built-in retries. And some S3 calls are not wrapped with that hand-written retry code. Abstracted storage interface should tend to used build-in retries, I think
2. This interface must be covered with t

[2018-03-05 07:51] x4m commented on #30
Team at #74 seems to be working on SWIFT too, I think i's fine to close this issue.
Feel free to open questions or report bugs. Thanks for your effort to make WAL-G better.

[2018-03-05 07:51] #30 closed

[2018-03-13 08:23] Scukerman opened #77 "[UI BUG] Command 'delete' is not supported"
[code]

Looks like there's no case for usage of the delete command:
https://github.com/wal-g/wal-g/blob/master/cmd/wal-g/main.go#L69

[2018-03-13 08:32] x4m commented on #77
Hi! It's UI bug that WAL-G does not print you delete help message.
Which is
[code]

[2018-03-13 08:35] Scukerman commented on #77
yeah, I've just figured it out. Thx for the quick response.
BTW, is there any gitter\slack\chat so user could reach developers without posting issues?

[2018-03-13 08:40] x4m commented on #77
Well, we have no chat right now, but I think it is a good idea to have some medium for those who start using WAL-G. I'm not aware of available options besides IRC and Slack. What would you recommend? Can you point out how other project are doing this?

[2018-03-13 08:50] Scukerman commented on #77
Like I said, they usually use gitter or slack for questions like this. And they accept issues only on feature requests or bugs. But I don't have any wide experience as well.

[2018-03-13 09:11] #77 closed

[2018-03-13 09:13] x4m commented on #77
@Scukerman , I'll be ping here when I'll be ready to set up the chat. I think that it is very important to hear from users on any sight of a problem.

[2018-03-13 09:16] Scukerman commented on #77
Thx. But until this, I'll keep posting questions :)

Getting back to the issue:
Well, I would strongly suggest to start using [cobra](https://github.com/spf13/cobra) cuz spent some time until I got how it works through looking at the code.
https://github.com/wal-g/wal-g/blob/f2cc408096a936ecb11d52373381ab3c3b62de9a/commands.go#L131-L135

The order of flags and commands looks very unusual.

[2018-03-13 13:07] Scukerman opened #78 "backup-push ignores set WALG_S3_STORAGE_CLASS"
`backup-push` ignores set `WALG_S3_STORAGE_CLASS` and keeps uploading files as `STANDARD`.
`wal-push` works as expected.

[2018-03-14 06:17] x4m commented on #78
Yep, that is a bug.
JSON sentinel was uploaded without storage class specification.
Thanks for reporting!
Can I ask you to check if now the problem is solved?

[2018-03-14 08:01] Scukerman commented on #78
yeah, it has been fixed.

[2018-03-14 08:02] #78 closed

[2018-03-14 08:27] dev1ant commented on #77
I would prefer github issues or public mailing list rather than some sort of a chat. For two reasons:
1. It will keep the history and reduce (I hope) the number on same questions.
2. It will be indexed by search engines and give the ability to find answers with google without need to go to chat.

[2018-03-14 09:43] Scukerman commented on #77
In this case, you'll have to read all the off topic messages like this. If you are ready for this, then it's okay.

[2018-03-14 10:55] x4m commented on #77
This message is not a problem at all. But the reason for IRC channel (or similar) is quite contrary - it's about receiving more of these messages.
Mailing lists are the barrier for newcomers, actually. Github issues are less repulsive, but still, you have to extract subject and put your thoughts in single writing.

Currently, we do not need the reduction in the number of questions. We need to buil

[2018-03-20 05:56] x4m opened #79 "backup-push to size-limited bucket"
@istarling recently have reported the interesting problem. When there is not enough space in bucket WAL-G retries every file many times.
I think that best solution should be to remove existing retry infrastructure in favor of AWS SDK built-in retries.
This may interfere with #74. @tamalsaha , how do you think, if I'll do that in a week or two I won't make a problem for your implementations of #74?

[2018-03-25 11:52] daviesian opened #81 "Deleting backups leaves sentinel file"
Apologies if this is me misunderstanding what is actually correct behaviour, but when I run this:

[code]

The backup `base_000000010000000000000004` correctly disappears from my S3 bucket. However the sentinel file `base_000000010000000000000004_backup_stop_sentinel.json` remains, meaning that the deleted backup shows up in `wal-g backup-list` even though it no longer exists:

[code]

Manually de

[2018-03-25 15:07] x4m commented on #81
If it is reproducible it is certainly a bug. I'll hunt for it tomorrow. Which version do you use?

[2018-03-25 16:25] daviesian commented on #81
Ok, if this is not intended behaviour then I will try to build a proper reproducible case for you. I'm using the 0.1.7 release.

[2018-03-26 09:11] x4m commented on #81
Many thanks @daviesian ! That's probably the coolest way to report bugs :)
This bug shows up when you place backup at the root of the bucket. We had several similar bugs before (e.g. #17), but this somehow slipped away. I will fix this in next release.

[2018-03-26 10:02] daviesian commented on #81
Ah yes, Docker has done wonders for reproducibility!

At least this one is trivial to work around - thanks very much for working it out so quickly.

[2018-03-26 18:02] Aevin1387 opened #82 "Issues with parallel backup-push"
I've been testing out the parallel backup-push that is currently in master, and have run into a few breaking scenarios.

First, and foremost, if the backup doesn't crash it never finishes. It gets through the last files, and seems to freeze while waiting for the last few to upload. Example:
[code]

Secondly, I've run into a couple of crashes, details of which can be found in [this gist](https://gi

[2018-03-27 05:11] x4m commented on #82
@Aevin1387 thanks for your report. Seems like I have to remove parallel backup from master and make pull request out of it to do more testing.

[2018-04-05 15:36] diranged opened #84 "backup-fetch fails with "Interpret: copy failed""
Two servers failed to boot up and restore their databases last night. These two servers were booting in different AWS Regions, restoring from the same S3 backup. They both failed on exactly the same file, which indicates that we pushed a corrupt backup in some way.

The `backup-push` from the DB master had been run by hand, and there were no errors in the log output.

Master Server Details:
* Ubun

[2018-04-05 15:44] diranged opened #85 "wal-push failed, but exited with a 0 code?"
We got into a nasty situation yesterday when a `wal-g wal-push` failed, threw some log output (below), and then seems to have exited with a `0` code which allowed Postgres to clean up the failed WAL log.

Host Details:
 * Ubuntu 14.04
 * Postgres 9.6.6
 * WAL-G 0.1.7

```archive_command = 'envdir /etc/wal-g /usr/local/bin/wal-g wal-push %p'```

Log:
[code]

Finally, here's a snapshot of the file a

[2018-04-05 16:49] x4m commented on #84
Hi! Thanks for the report! Was it delta or full backup? Was it encrypted?

[2018-04-05 17:06] x4m commented on #85
@diranged , thanks for the report. Seems like a critical bug. I've stared at the code a bit, I definitely do not like the state of the upload() function and want to refactor it (). But do not see error handling bugs there. Will look at it in the morning again (UTC+5).

Maybe we should add some WAL-check functionality like 'check that all WALs from last backup are continuous and not zero-sized' and

[2018-04-05 18:25] diranged commented on #84
@x4m, when you say `delta` or `full backup`, what do you mean? The command we ran was `wal-g backup-push /mnt/pgdata`. I am fairly sure those are full backups, right? It was not encrypted.

We have managed to pull down all of the `.lz4` files from the bad backup and are decoding them into `.tar` files now. I've already been able to untar the two files (999 & 1000) that seem to have `/base/16400/18

[2018-04-05 18:29] diranged commented on #84
Sorry I see the delta config now - no, we are not currently using that.

[2018-04-05 18:30] diranged commented on #85
I just think that the `wal-push` command should be _really sensitive_ to failures, and always err on the side of setting `exit_code: 1`. If it does this, Postgres will do the right thing and not move to the next file, and it will not mark the files for purging either.

[2018-04-05 23:02] diranged commented on #84
@x4m, after a full day of testing, think this EOF failure is happening at the very end of the restore.. the actual tar/lz4 files are fine, so I think this is some other issue..

[2018-04-06 00:43] diranged commented on #84
@x4m just another update.. we've actually gotten a single machine to boot up, and we've had 9 others fail. THe DB Backup is being hosted in Oregon S3. The restores are happening in California and Virginia. The virginia restores have not yet worked. In California, we tried 3 machines, and the 3rd one was the charm.

It seems like it is intermittent .. but at the same time, _very_ reproducible.. but

[2018-04-06 05:49] x4m commented on #84
@diranged I'm working on reproduction of your case but still unsuccessful. I've seen a similar fail with different stack
[code]

Do you use AWS instance? Which flavour? If not do you use SSD or HDD, how big is RAM?

[2018-04-06 09:46] rdunklau opened #86 "Publish GPG public key used to sign releases"
Hello,

Releases are signed using GPG, but I can't figure out where the public key is published to verify the signature. Where can I find it ?

[2018-04-06 10:03] x4m commented on #86
I've signed v0.1.7 release with F55388A06578CDECDF96179F5344306CD56C0A64 for Andrey Borodin <x4mmm at yandex-team.ru> valid until 2019-09-07 which is associated with my GitHub account.
What is the best way to publish this pub keys?

This key is stored on my work laptop and I have no plans to extract it anywhere. What is the correct way to update my key in case my laptop is destroyed?

[2018-04-06 10:13] rdunklau commented on #86
The best way to publish your public key is to use a public key server. If you use GPG, you can use --send-keys. Alternatively, you can also paste it in your README file or elsewhere.

As for key management, what you should do with private key is to generate a revocation certificate which you store somewhere safe, and then use that to revoke your key later on. You can then add your new key to your

[2018-04-06 10:16] x4m commented on #86
Thanks @rdunklau ! Which public key server do you recommend?

[2018-04-06 10:57] x4m commented on #85
`always err on the side of setting exit_code`
This is absolutely correct invariant, all efforts are applied to honor it across code paths. But according to your report, this invariant is violated.
I'm still investigating where the possible bug may be.
Currently I see two possible vectors to eliminate or mitigate the bug:
1. Refactor upload code. There is homemade retry infrastructure which is not

[2018-04-06 12:39] rdunklau opened #87 "Add a -v or --version flag to get the version"
Would it be possible to add the version information into the binary itself, and add an option to get it ?
Thanks !

[2018-04-06 13:48] mudarisov566 opened #88 "ERROR: function pg_start_backup(unknown, boolean, boolean) does not exist (SQLSTATE 42883)"
postgres@beta-02:~/.ssh$ envdir /etc/wal-e.d/env wal-g backup-push /var/lib/postgresql
BUCKET: testbacku1
SERVER:
2018/04/06 16:47:19 ERROR: function pg_start_backup(unknown, boolean, boolean) does not exist (SQLSTATE 42883)
StartBackup: pg_start_backup() failed
github.com/wal-g/wal-g.(*Bundle).StartBackup
        /home/travis/gopath/src/github.com/wal-g/wal-g/connect.go:75
github.com/wal-g/wal-g.

[2018-04-06 15:53] diranged commented on #84
@x4m, here are as many details as I can give you..

## SourceDB Master
* US-West-2 Oregon Region
* Postgres 9.6.6 on Ubuntu 14.04
* One logical database in the dump, extremely write-heavy database
* 7TB EBS-backed GP2 SSD Storage w/ ext4 fs
* R3.8XL Instance Type
* `4.4.0-111-generic #134~14.04.1-Ubuntu` kernel

## Streaming Slaves in local region
~6-7 live streaming slaves.. also all the same har

[2018-04-06 15:58] diranged commented on #84
Re: Network bandwidth, etc... this configuration has been in place for the last 5+ years. Obviously over the years we continue to increase our server sizes (and database size). We used WAL-E until it became too slow to be reasonable (~6-9 hours to restore a server), and then we switched to WAL-G. When we switched to WAL-G, the DB was around ~1.4TB and at that point, the backup and restores worked

[2018-04-06 16:06] diranged commented on #85
While I don't love the idea of uploading-and-then-checking-the-upload, there is an argument that it could be a parameter that you can turn on. Specifically, I actually think that it could check the MD5 of the source file, and compare it against the MD5 of the object in S3. This ensures that not only was the file uploaded, but that it was uploaded exactly as expected.

Thoughts?

[2018-04-06 16:32] x4m commented on #87
Sure, will do this before next release.

[2018-04-06 16:36] x4m commented on #88
Hi! Thanks for the report!
Support for 9.4 was added at #38 but it is not in current release yet.

[2018-04-06 16:50] x4m commented on #84
I suspect a concurrency issue in data transformation libraries. Maybe in lz4 or tar. Earlier I was suspecting OpenGPG too because of our configurations.
If your case and mine are caused by the same bug, GPG is clear from suspicion and explains why we have different call stacks of failures.
The pipeline is S3->GPG->Lz4->Tar. I'll look into Lz4.

[2018-04-06 16:56] x4m commented on #85
Yeah, MD5 is a good idea. I think that presence of this feature will make refactoring towards native AWS SDK retries safer. I'll do that. Optimistic ETA is around next Wednesday, will try to implement this ASAP.

[2018-04-06 17:02] x4m commented on #84
There's only one "go", and it look safe https://github.com/pierrec/lz4/blob/master/reader.go#L188

[2018-04-07 05:16] x4m commented on #84
@diranged okaaay, then the real solution is to add retry to file download...

About IRC, @Scukerman was suggesting this, and I definiley want to create Slack channel for WAL-G.
Here we go https://postgresteam.slack.com/messages/CA25P48P2/

[2018-04-07 17:33] diranged commented on #84
@x4m, unless you have a special email account, you cannot log into that slack service:

   ```If you have an @omniti.com, @wingspan.com, @getchef.com, @pgexperts.com, @citusdata.com, @8kdata.com, @peoplecall.com, @enterprisedb.com, @nabancard.com, @2ndquadrant.com (see 5 more)	email address, you can create an account.```

Unless there is a way for me to get an invite?

[2018-04-07 17:46] x4m commented on #84
@diranged here is invite app
https://postgres-slack.herokuapp.com/

[2018-04-09 05:26] x4m commented on #77
@Scukerman I've created the channel on PostgreSQL Slack
https://postgresteam.slack.com/messages/CA25P48P2/

[2018-04-10 05:38] diranged commented on #84
@x4m,
  I can't believe this .. but I think we tracked this down. After days and days of testing, we tried a new base Ubuntu image (`20180405`) with the latest version of the 4.4.0 kernel (`4.4.0-119-generic #143~14.04.1-Ubuntu SMP Mon Apr 2 18:04:36 UTC 2018`). _That solved it!_

  In the mean time we'd tried everything else.. including replicating the data to an S3 bucket in Virginia and restori

[2018-04-10 05:50] x4m commented on #84
Um... that's strange. The error you have posted is about problems of reading (from net or lz4), not writing.

[2018-04-10 17:33] davidfetter opened #90 "Package wal-g"
It would be very nice to have this in at least the `PGDG` apt and rpm repositories.

[2018-04-10 17:44] x4m commented on #90
Yes, I also think so.
PRs would be welcome :)
There is a prototype of deb in https://github.com/x4m/wal-g

[2018-04-10 17:45] x4m commented on #88
I'm closing this now. Feel free to create new issues if you will have questions

[2018-04-10 17:45] #88 closed

[2018-04-11 10:57] x4m commented on #85
@diranged I've pushed a commit with --verify option of wal-push that will fail if S3 will report ETag different from MD5 digest of data we send.
There are few nitpicks.
1. AWS does not actually guaranty that ETag is MD5. https://docs.aws.amazon.com/AmazonS3/latest/API/RESTCommonResponseHeaders.html Though it is MD5 as long as file is smaller than 1 multipart size (20Mb) which holds for WAL
2. I re

[2018-04-12 08:52] rdunklau commented on #86
Hello,
Were you able to publish your key ? Can I help you in any way with this ? :)

Thank you !

[2018-04-13 12:29] rdunklau commented on #86
Thank you !
I should have spotted it before, but it looks like the signature is done with another key:
C19950E0DD32EFD0A4316017F2B8F0AEE59999AC

[2018-04-16 06:12] #81 closed

[2018-04-17 05:54] #87 closed

[2018-04-17 06:06] x4m commented on #86
@rdunklau sorry, I used wrong key. I've updated signature. Can you please verify that it is OK?

[2018-04-20 03:20] davidfetter opened #92 "Remove dependency on external GPG"
I'm [not the first person](https://github.com/wal-g/wal-g/pull/59) to have trouble on this score. It seems a lot cleaner just to cut the ties to `gpg` implementations and bundle the functionality with the binary.

[2018-04-25 18:43] gregor-rayman opened #93 "backup-push fails"
When I run backup-push after a while it fails with the following stack trace:

[code]

The version of PostgreSql is:

PostgreSQL 10.1 on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 4.8.4-2ubuntu1~14.04.3) 4.8.4, 64-bit

[2018-04-26 07:42] x4m commented on #93
Hi! I suspect that you are using WAL-G version 0.1.4. It is known bug #65 which was fixed in 0.1.7

[2018-04-26 14:49] x4m commented on #93
Starting from next release there will be flag -v to get version and -vv to get build time and revision.
The current release is https://github.com/wal-g/wal-g/releases/tag/v0.1.7
There is no easy way to to get version from binary.
It is certain that you are not using 0.1.7 since in 0.1.7
[code]

[2018-04-26 15:50] gregor-rayman commented on #93
I have just tested it again making sure I have the latest release and the error is gone :) Thanks!

[2018-04-26 16:01] x4m commented on #93
Feel free to report anything suspicious. When dealing with backup software all kinds of paranoia are justified.

[2018-04-27 10:34] gregor-rayman commented on #93
I have tested the `backup-fetch` after a successful `backup-push`, but unfortunately it failed with the following stack trace:

[code]

The `backup-fetch` takes more than 4 hours, perhaps this error is intermittent and a re-try might work? If so, is there a way to instruct `wal-g` not to download the already downloaded files?

[2018-04-27 11:51] jonjomckay commented on #35
I'm also suffering from the problem of one of our archives causing the `backup-fetch` to fail (right at the end, annoyingly!). Has there been any success in swapping the lzo library out?

[2018-04-28 10:40] x4m commented on #35
@jonjomckay  I'm not working on this, sorry. I have no broken lzo file to work on this and, probably, will never have - I've migrated to WAL-G which uses lz4. Maybe @fdr will fix this eventually...

[2018-04-28 10:56] x4m commented on #93
@gregor-rayman there is new release 0.1.8 with better retries. Can I ask you to test it?

[2018-04-28 15:10] gregor-rayman commented on #93
I will next week. Our regular backups are weekly on Mondays, so on Tuesday I will be able to test. Thanks!

[2018-04-29 15:31] lehni opened #94 "Unable to create a full basebackup with backup_push"
I've been using wal-e to successfully create backups of a  GitLab CE server to an S3 clone. I just tried to switch to wal-g, and while I managed to get it to talk to the S3 clone, it doesn't seem to upload a full backup.

Here the command I am running:
[code]
And below its output.

It looks like part 1 is never finished, part 2 is omitted altogether, and only part 3 and part 4 get processed correc

[2018-04-29 15:56] x4m commented on #94
Hi! Which version do you use?

[2018-04-29 16:28] lehni commented on #94
I tried both v0.1.8 prebuilt and self-built from Github following the instructions in the README with the same result. Is there any additional information I shall provide?

[2018-04-29 16:37] x4m commented on #94
Ok, this may be a regression in v0.1.8..
May I ask you to try v0.1.7?

[2018-04-29 16:48] lehni commented on #94
That appears to work! But I'm getting 3 parts now, not 4, with a basebackup of around 12.5MB on disk:

[code]

[2018-04-29 16:54] x4m commented on #94
Well, that confirms a regression in 0.1.8...

About part numbers - yes, there is a numbering bug since very early versions. But it is just about giving the wrong number to part with pg_contorl, it does not lose data or something else, just one superfluous increment.

I need to reproduce this problem with 0.1.8 to fix it...

[2018-04-29 16:58] lehni commented on #94
I can provide the database if it's of use. There's not really any delicate information in there right now....

[2018-04-29 17:05] x4m commented on #94
I'd like to know OS, PostgreSQL version, hardware specs and what kind of S3 are you using.

[2018-04-29 17:09] x4m commented on #94
Well... I didn't asked most important thing. What kind of problem do you observe? Does it deadlock or something?

[2018-04-29 17:16] lehni commented on #94
OS: Linux CentOS 7.4 64-bit
PostgreSQL: 9.6 (Part of Gitlab installation, following these instructions: https://www.howtoforge.com/tutorial/how-to-install-and-configure-gitlab-ce-on-centos-7/)
S3 clone:
https://www.exoscale.com/object-storage/
https://github.com/exoscale/pithos
Hardware:
Exoscale.com Small instance: 2 GB, 2 x 2198 MHz
[code]

[2018-04-29 18:09] lehni commented on #94
No, only 3 and 4 show up

[2018-04-30 11:08] x4m commented on #94
@lehni can I ask you to try code from the current master? I've improved code there

[2018-04-30 11:33] lehni commented on #94
Great! I will try it after lunch!

[2018-04-30 12:15] lehni commented on #94
Yay, that did it! Here's the end of my log:
[code]

[2018-04-30 13:01] x4m commented on #94
Cool! Thanks for your help!

[2018-05-01 19:34] gregor-rayman commented on #93
The version 0.1.8 was able to download the backup withou any issue

[2018-05-01 19:34] #93 closed

[2018-05-04 09:38] x4m commented on #92
OK, I think I should do that eventually.
Let's discuss some design decision.

Now WAL-G reflects the functionality of WAL-E: reads env var with key id and asks gpg for keys by id.

I can do:
1. Load keys from env var directly
2. Read gpg key store and extract keys myself

The first approach seems much cleaner. Second, preserves backward compatibility and get reed of gpg totally. First is easy to c

[2018-05-04 09:41] x4m commented on #94
I'm closing this issue now. Feel free to open new issues on any sight of the problem, this makes backup software more reliable. Also we have Slack chat
https://postgresteam.slack.com/messages/CA25P48P2

[2018-05-04 09:41] #94 closed

[2018-05-04 14:44] davidfetter commented on #92
I think getting rid of gpg totally is a large part of the point of this exercise.

While keeping it easy to migrate from `wal-e` may be a nice-to-have, it's not something on which it's really worth spending a lot of engineering cycles at this stage of the project. There are already settings `wal-g` has that `wal-e` does not, and as the project matures, there will be more.

To see why having an ext

[2018-05-10 17:11] jxcl opened #96 "Calling wal-g with incorrect arguments returns 0 exit code"
Tangentially related to #85. Calling `wal-g wal-push` or `wal-g backup-push` echoes a usage help text, but does not set exit code to something nonzero.

[2018-05-11 11:15] #96 closed

[2018-05-11 11:15] x4m commented on #96
Hi! Thanks for reporting that! Plz check referenced commit.

[2018-06-01 14:49] erkkah commented on #35
I can just confirm that this is happening for us as well.
We are using WAL-E for replication, which makes it problematic to make the switch to lz4 directly.

[2018-06-06 16:53] x4m opened #97 "Alternative to lz4 compression algorithms"
Currently, WAL-G significantly outperforms WAL-E in CPU and disk-constrained environments (especially with delta backups, but that's another story). But when the network throughput is a bottleneck - WAL-E is faster. WAL-G backups are simply bigger since it uses lz4 - faster but less efficient compression algorithm (than lzo).
Meanwhile, In many cases, CPU usage of WAL-G is neglectable small. Many

[2018-06-06 16:59] dev1ant commented on #97
Zstd?

[2018-06-06 17:17] x4m commented on #97
At first glance, I do not see Go implementations, only C-Go bindings. But I think it worth trying.

[2018-06-19 16:15] kaikuchn commented on #85
(emphasis mine)
Only usually, it is possible to change it when compiling Postgres. I don't know if anyone does that, but it is possible: https://www.postgresql.org/docs/9.6/static/runtime-config-preset.html

[2018-06-19 17:09] x4m commented on #85
@kaikuchn that's true, WAL file size is specified during configuration of PostgreSQL build. But that's not a big problem for a very optional feature.
This "verification" feature is somewhat paranoid, I think that S3 SDK upload should check MD5 itself. BTW it worth checking that.

[2018-07-05 03:57] chobostar commented on #84
We got the same issue:

Interpret: copy failed
github.com/wal-g/wal-g.(*FileTarInterpreter).Interpret
	/home/travis/gopath/src/github.com/wal-g/wal-g/tar.go:86
github.com/wal-g/wal-g.extractOne
	/home/travis/gopath/src/github.com/wal-g/wal-g/extract.go:51
github.com/wal-g/wal-g.ExtractAll.func2.3
	/home/travis/gopath/src/github.com/wal-g/wal-g/extract.go:156
runtime.goexit
	/home/travis/.gimme/ver

[2018-07-05 14:57] x4m commented on #84
Thanks for the report! I'm thinking of how to mitigate the problem. Stacks that you've send me in PM contained S3-implementation-specific errors. Can you tell more about it? can it throttle connections so that only one active download session is allowed? This would explain a lot...
One improvement that I can think of is automatically decreasing download concurrency if retries happen.

[2018-07-23 16:43] x4m commented on #85
@qwertys-ru Thanks for the report!

It is definitely a bug, but it is a separate bug. Please file another issue, I've traced the root cause, will fix this tomorrow morning (UTC+5)

[2018-07-23 18:07] #97 closed

[2018-07-23 18:09] qwertys-ru opened #102 "backup-push exits with 0 on failure"
**Release**: 0.1.10.
**Description**: backup-push exits with 0 (success) on failure. In this case it failed to upload to S3 several parts of archive.
**Application log**:

[code]

backup-list shows this backup as intact, just as backup-fetch:

[code]

backup-fetch:
[code]

[2018-07-23 18:10] qwertys-ru commented on #85
@x4m thank you for quick response, new issue filed:

https://github.com/wal-g/wal-g/issues/102

[2018-07-24 05:15] x4m commented on #102
Reviewing code changes for this I also have finally found what could cause #85. In case of compression errors, WAL-G could treat them as not fatal, which was also a bug.

Thank you! Your report helped both cases.

[2018-07-24 06:34] x4m commented on #102
Sorry for the noise, I've marked the commit with "Fix", but, obviously, it is not tested well yet to be closed. @qwertys-ru, may I ask you to verify your case against the current master?

[2018-07-24 18:41] DustinChaloupka opened #104 "Do Not Overwrite WAL Files"
Reading the PostgreSQL documentation related to archiving, we came across this (from https://www.postgresql.org/docs/10/static/continuous-archiving.html):

So we checked to see if `wal-g` did anything that would prevent it from overwriting files, but looking at https://github.com/wal-g/wal-g/blob/master/tar_uploader.go#L96 it does not appear that it does anything, nor any configuration being avail

[2018-07-24 18:52] x4m commented on #104
That's true, WAL-G overwrites archive. We (me and my colleagues) already had some trouble with this. I will fix this (or happily review PR if you have some suggestions). Thanks for taking the time to test it and report with such a careful analysis.

[2018-07-24 21:57] DustinChaloupka commented on #104
#105 Is a try at it.

[2018-07-25 14:57] qwertys-ru commented on #102
Things have got even worse. WAL-G claims it uploaded 3 files:

[code]

But really it only uploaded 2 of them
![37bb6aa9-ffe7-4ddb-b7fc-ded171e4482f](https://user-images.githubusercontent.com/33905371/43208840-f6109a1a-9033-11e8-97f8-a010120cdd4f.png)

Interestingly it always skips part 2 exactly. WAL-G compliled from master at 24.07.2018 12:45 MSK

[2018-07-25 15:56] qwertys-ru commented on #102
It appears that if pg_control is the only file in backup it is named after that.

[2018-07-26 14:49] qwertys-ru commented on #102
Didn't work, still part_002 not present.

[2018-07-26 17:12] x4m commented on #102
The absance of some numbers in parts is OK. There are two reasons for this:
1. one of the parts is renamed to pg_control to designate it's purpose
2. parts are created by parallel threads. if the thread did not encounter files that need to be uploaded before everything is already taken - thread does not upload his empty part header.

[2018-07-27 16:20] #104 closed

[2018-07-30 12:41] x4m opened #107 "Configuration via environment variables and config files"
Currently, the only way to instruct WAL-G about how to do the backup is set up environment variables. This leads that folks used things like envdir with archive command like
`envdir /etc/wal-g/envdir wal-g wal-push`
One of the reasons why WAL-G is fast is that it does not have to start the Python interpreter. But envdir is Python program.
I propose implementing the possibility to read settings fro

[2018-07-30 12:52] qwertys-ru commented on #102
Works fine now, thanks!

[2018-07-31 12:24] x4m commented on #102
Thanks for reporting. Feel free to reach out with any problems.

[2018-07-31 12:24] #102 closed

[2018-07-31 23:46] WillPlatnick commented on #84
We are running into the same issue on our side. WAL-G v0.1.10. We're not touching any environment variables that touch download concurrency.

For us, it's failing at the end of the restore. BUT, we're seeing something very weird about when it fails.

I've been hacking on a script where I used wal-e to do database restores and replacing it with wal-g. I had some issues where my backup-fetch was goi

[2018-08-01 06:59] x4m commented on #84
@WillPlatnick thanks for sharing. Looks like a coincidence, but I'll keep an eye on it. Still hope it's retry issue that will be fixed by https://github.com/wal-g/wal-g/commit/e7f3a6128b316cd8936a66d05bb3f2d0adcefeef

[2018-08-02 14:33] qwertys-ru commented on #102
When will this fix hit release? This issue may lead to incomplete backups.

[2018-08-02 16:06] x4m commented on #102
I'm currently pushing master branch through QA. I think at the end of next week we can release it.--Отправлено из мобильной Яндекс.Почты02.08.2018, 17:34, "Maxim Vasilev" <notifications@github.com>:When will this fix hit release? This issue may lead to incomplete backups.

—You are receiving this because you modified the open/close state.Reply to this email directly, view it on GitHub, or mute the

[2018-08-08 03:22] c4milo opened #108 "Is there an option to store backups and wal archives in the file system?"
Like wal-e allows.

[2018-08-09 09:47] x4m commented on #108
Currently no, but we want it very much to make more integral and efficient tests. And we had many user requests about this function.
@Tinsane was considering doing work on the implementation of this.

[2018-08-14 14:30] WillPlatnick commented on #84
FYI - We're still seeing this on v0.1.11 on every restore.

[2018-08-14 15:26] WillPlatnick commented on #84
It's also curious as to why it's ALWAYS happening around the end of the restore, without exception.

[2018-08-14 15:49] x4m commented on #84
That is not good.... Can I ask you to test fetch with diagnostic version of Wal-g? I'll compose one

[2018-08-14 15:52] WillPlatnick commented on #84
@x4m Yep.

[2018-08-15 06:38] x4m commented on #82
This seems to be fixed as for now

[2018-08-15 06:38] #82 closed

[2018-08-15 06:51] x4m commented on #84
@WillPlatnick here's the patch. Please try restoration with it.
In this version, if we encounter tar download fails, we reattempt failed tars with concurrency 1.
here's compiled Linux binary https://yadi.sk/d/57XAT1PD3aEtcP

[2018-08-21 14:57] rajivchodisetti commented on #74
HI, is their any work going on to support Azure Blob Storage ?

[2018-08-21 21:52] WillPlatnick commented on #84
@x4m I'm still working on getting this to finish. The restore is now taking much slower and I'm not exactly sure if it's because of my host, object store, or wal-g. I am running this without timeouts to try and get a full restore to happen.

[2018-08-22 13:19] WillPlatnick commented on #84
@x4m OK, it worked! The restore job took 7.5 hours. The same job takes several hours less with WAL-E, I'm assuming this might be related to concurrency?

[2018-08-22 16:42] x4m commented on #84
This "insistent retries" existed in two versions:
1. early one that I used to build the binary. This version uses concurrency 1 (sequential download)
2. later one with better logging and less drastic parallelism reduction which is referenced from the commit
The second one will be a bit faster.
But the actual time of backup fetching depends on a resource that is the bottleneck. If you are limited b

[2018-08-22 17:43] x4m commented on #84
@WillPlatnick I've pushed the feature to master. Thank you for testing!

[2018-09-06 07:05] x4m commented on #85
This issue seems to be resolved, I'll close it now. Please report if you will observe anything suspicious.

[2018-09-06 07:05] #85 closed

[2018-09-06 07:06] x4m commented on #50
We have hints for the user now, but we cannot protect the user from shooting in the foot completely, if they do not read WAL-G output.
If you will have some better ideas please feel free to ping me.

[2018-09-06 07:06] #50 closed

[2018-09-06 07:09] x4m commented on #11
I'll close this in favor of #74
We are moving in this direction...

[2018-09-06 07:09] #11 closed

[2018-09-06 07:11] x4m commented on #22
This issue is known to arise due to network timeouts and some S3 implementations server-side throttling. Fixed in the latest release.

[2018-09-06 07:11] #22 closed

[2018-09-06 07:13] x4m commented on #35
This issue was fixed in #100 and fix is released.
Feel free to report new issues if you observe some related misbehavior.

[2018-09-06 07:13] #35 closed

[2018-09-06 07:15] x4m commented on #84
Seems like the issue is fixed. Please report any similar cases if you observe one.

[2018-09-06 07:15] #84 closed

[2018-09-06 07:16] x4m commented on #107
Will be fixed in #111

[2018-09-06 07:16] #107 closed

[2018-09-11 10:27] tppl13 opened #114 "backup-list, backup-fetch and wal-fetch got error"
Writing to S3 with backup-push and wal-push works fine.
Getting data from S3 takes several minutes and give error:

$ wal-g backup-list
BUCKET: walshipping-bucket-test
SERVER: pg_dev
2018/09/11 13:11:42 GetLatest: s3.ListObjectsV2 failed: NotImplemented: A header you provided implies functionality that is not implemented.
        status code: 501, request id: cdfc8e4ef84e916fc435, host id: cdfc8e4

[2018-09-11 10:31] x4m commented on #114
Hi! Thanks for reporting!

Your S3 implementation does not allow ListObjectsV2. Which one do you use?

ListObjects[V1] is considered somewhat deprecated.... But it is the only way to list in some S3 versions.

[2018-09-12 02:35] jakeo opened #115 "usage question on restore"
I'm performing the following operations to restore a database:

[code]

contents of my `recovery.conf`
[code]
and contents of `/usr/local/sbin/wal-restore`
[code]
Next - after starting up postgres, I get this in the postgres logs
[code]
when doing this, there is no `./9.6/main/pg_xlog/.wal-g/prefetch` directory created, I have to manually fetch one of the WALs
[code]
then `./9.6/main/pg_xlog/.wal-

[2018-09-12 05:30] x4m commented on #115
Hi! Looks like wal-restore could not write to ./9.6/main/pg_xlog/
What's in /var/log/postgresql/wal.log?

chances are that you've launched wal-g backup-fetch from superuser and ?

[2018-09-12 17:57] jakeo commented on #115
@x4m thanks for replying!

All the commands above are run as user `postgres` - and the logs I'm capturing from restore command isn't logging anything. Running the manual `wal-fetch` then restarting postgres always work. Almost like the restore command is never getting called.

[code]

[2018-09-12 18:29] x4m commented on #115
we do not know what's wrong with normal wal-fetch from restore_command
btw it'd be good to add something like -e so that exit code of wal-g would be returned to postgres
also, I think it's better to call wal-g directly from postgres without script so that pglog can catch outputs from restore_command
something like source ... && wal-g wal-fetch ....

[2018-09-12 23:13] jakeo commented on #115
A giant derp from me for not moving the commands out of the wrapper and into `restore_command` while debugging.

I've inlined the command, as well as turned up debugging.

[code]

[code]

The only thing that works is fetching the WAL manually - then recovery continues and the database starts up.

[code]

[2018-09-13 04:29] x4m commented on #115
As far as i understand according to this log
[code]
restore_command was not called. And I do not see why...
When you call it manually - it fetches necessary WAL.

[2018-09-13 05:15] jakeo commented on #115
Yep - it's mind boggling. I'll continue to debug.

[2018-09-13 18:02] x4m commented on #115
@tetronoz Thanks! This explains perfectly what is going on.
WAL-G does not delete backup_label, surely. But we should clearly warn user that provided PGDATA is not PGDATA. I can imagine how this causes troubles in many various ways. I even think that we should check that it is exactly the same PGDATA that we connected to... (eventually we will do offline backups, so I think that we still should ke

[2018-09-13 18:14] x4m commented on #115
I'll explain a bit here:
Almost all files are picked from filesystem by scanning FS tree. But backup label and tablespace map are provided by pg_stop_backup(). Thus, we archive this files in last tar as if they were in the root of the archive.
When we do backup-fetch they are placed accordingly, but PostgreSQL expects them in ```data```. The absence of these files means that database crashed and i

[2018-09-13 20:14] #115 closed

[2018-09-14 04:42] x4m commented on #115
There are few related open items #59 #92 . But they do not mention this problem directly.
This problem becomes more important with #111 : now you do not have to supply a lot of env vars, but with PATH you still have to do something.

I believe this problem must be addressed somehow unless we get rid of external gpg binary. But right now I do not have enough resources to investigate why Postgres do

[2018-09-14 08:17] tppl13 commented on #114
Thank you! Indeed, seems like it is not supported.

[2018-09-14 08:17] #114 closed

[2018-09-14 08:32] x4m commented on #114
No problem.
Is it important for you?
Actually, I use myself WAL-G version in github.com/x4m/wal-g that uses old ListObjects() for the same reason. It seems incorrect to use old API, but sometimes I need it.

[2018-09-19 13:37] NikolayS opened #118 "Support tablespaces"
WAL-E has tablespaces support https://github.com/wal-e/wal-e#tablespace-support, while WAL-G, as far as I understand, doesn't.

It would be great to have it here as well.

[2018-09-20 05:54] x4m commented on #118
+1, I also think we need this feature.
@inish777 was working on this as far as I know.

[2018-09-20 07:35] plaes opened #119 "backup-push command does not default to unix domain socket"
When trying to run the `backup-push` command, it fails to fall back to default unix domain socket when TCP has been disabled on server (unlike `wal-push` command)

Wal-G v0.1.12

[code]

[2018-09-20 07:50] plaes opened #120 "Wal-g crashes when running backup-push"
Wal-g v0.1.12.
Running into following crash when trying to create basebackup (seems similar to #55 although the target directory is not symlink):
[code]

[2018-09-20 08:29] x4m commented on #120
Hi!
While this bug may seem unharmful, I suspect there may be other related problems with pre 9.6 backups. I'll investigate it more and probably will fix eventually. Thanks for reporting!

[2018-09-25 08:11] tppl13 commented on #114
Hi!
For some reason wal-g taken from https://github.com/x4m/wal-g is not able
to fetch whole wal file. It gets only 1258912 bytes and ends also with
error: DecompressLz4: lz4 write failed

Restoring database fails as expected with an error:
FATAL:  archive file "00000001000000000000003D" has wrong size: 12582912
instead of 16777216

In addition, backup-getch works but only with keyword LATEST.

Ko

[2018-09-25 09:48] x4m commented on #114
Hi @tppl13 ! did you compile master or used some of release versions?

[2018-09-25 10:56] tppl13 commented on #114
I used v0.1.3x4m10 release.

[2018-09-25 11:42] x4m commented on #114
Is the problem persistent?
When you wal-fetch that WAL you get same error every time?
Were some previous files extracted from archive successfully?

[2018-09-25 12:42] tppl13 commented on #114
Yes, I get this error every time.
Only backup history file (00000001000000000000003D.00000028.backup, 337 bytes) is fetched without error.
The only way for me to get files successfully from S3 is to use aws client and unzip files after that.

[2018-09-25 15:11] WillPlatnick opened #121 "Can't restore due to missing archive, but archive didn't exist in first place"
We are using WAL-G on 4 different database clusters. We're having issues restoring the database from this one cluster after an upgrade to PG10.  This archive that it's looking for doesn't exist in S3.

The WAL log it's looking for is ```000000010000D6E5000000C1``` and it's true, it doesn't exist.

In fact, that whole series doesn't exist. I have no files that start with ```000000010000D6``` but I

[2018-09-25 15:33] WillPlatnick commented on #121
To add more context, it's been the same issue for the past 4 days, full backups daily. Each time, it's the same thing, it's looking for a log file whose entire series doesn't exist, and the real series is always incremented by one.

IE, looking for ```000000010000D7450000005C``` in restore

```000000010000D74``` isn't a series but ```000000010000D75``` is.

There's nothing in my restore logs or my

[2018-09-25 16:22] x4m commented on #121
Hi!
Plz check that there is no backup_label file in master. Currently, I have no other explanations...
Timeline here is 00000001, D7455C is segment... btw, what's the name of the backup which tries to load 000000010000D7450000005C?

[2018-09-25 17:46] x4m commented on #121
Well, if backup is named ```D74500000059``` you need all WAL files since ```D74500000059``` for PITR and at least some of them for plain restoration.
I know the only legitimate case when WALs can be not archived by WAL-G --  pg_upgrade. In this case backup that you are restoring is from version before 10. You can check file PG_VERSION in PGDATA to test this version.

if it's not a case - we need t

[2018-09-25 17:58] WillPlatnick commented on #121
We used pg_upgrade on Friday. We've run 4 backup and restore operations since then. There are no wal logs in series ```D74``` only ```D75````. PG_VERSION is 10 as it should be. The log that it's looking for during the restore is the very first log.

[2018-09-25 17:59] x4m commented on #121
Did you change WAL-G version or something in environment?

[2018-09-25 18:01] x4m commented on #121
Did you use ```wal-g delete`` command to clean up archives?

[2018-09-25 18:03] WillPlatnick commented on #121
Nope, upgrades were upgraded in same way across all clusters, WAL-G version stayed the same. We run ```delete retain FULL 7 --confirm``` each day for every cluster.

[2018-09-25 18:15] x4m commented on #121
Do I understand correctly following?
1. You observe the problem on many clusters
2. You are restoring LATEST backup?
3. The problem reproduce with new backups each day

Can you check existance of WAL 00000001000XXX... right after backup base_00000001000XXX... will be created? And check it once more right after delete. And...well...check again before backup restoration.

[2018-09-25 19:54] WillPlatnick commented on #121
I'm taking a backup now. It didn't increment anything crazily unexpected. In my postgres file system, I see a .done in archive_status for the log it's looking for, so, my only guess is the delete operation is deleting things it shouldn't. I've turned off the deletion and we'll see how it goes.

Now why it would be doing it only for this job, when other restore jobs happen later in the day and are

[2018-09-26 09:54] x4m commented on #114
May I ask you to test release v0.1.12x4m11 ?

[2018-09-27 12:05] x4m commented on #121
whoa... that's scary, will look into this too

[2018-09-27 12:15] x4m commented on #121
WAL-G must hold this invariant: we delete WAL only when it's less than every existent backup. If it messes even LATEST backup - that's not good. But I do not see any reproduction on my systems. Neither I see bugs in the code...

[2018-09-29 08:59] x4m commented on #121
@WillPlatnick can I ask you to list which files were in place before delete and which left after delete?
Also, can you attach the output of delete command?

[2018-10-01 00:57] WillPlatnick commented on #121
Sorry for the late response, I had another issue with our restore that popped up with PG10 that I had to get around before I could run delete operations again.

First, a list of backups

[code]

Notice the shifted timelines? I wonder if the bug had something to do with that. I just ran the delete operation again, and I see the files I expect in the object store. It seems my timelines are now at 1

[2018-10-01 05:37] x4m commented on #121
@WillPlatnick now it's clear that it's a bug. We compare WALs by timelines, but timelines can be resetted (during pg_upgrade). When WAL-G picks 7th backup to keep, it takes backup from previous pg version. And it has bign TL number. So all current WALs are considered as long before those 7th backup...

I'll address it in nearest days.
I wonder what would be correct deletion policy for WALs... and

[2018-10-01 05:38] x4m commented on #121
We did not encounter this situation in our testing because we switch S3 bucket when upgrade...

[2018-10-01 06:39] dev1ant commented on #121
Shouldn't we mention in the documentation that different major versions should have different paths in S3?

Of course that doesn't mean that we shouldn't make some kind of protection from this configuration.

[2018-10-01 07:59] x4m commented on #121
there are few ways to implement this warning:
1. Add bucket naming considerations to README.md. PR is welcome, especially from native English speakers.
2. Support config option of PG_VERSION that will store WALs from different pg versions separately. This will complicate deletion logic, but will be much safer in this aspect.

[2018-10-05 04:36] x4m commented on #121
Will, I've pushed proposed fix: WAL-G will calculate minimum WalFileName (TL+LSN) among all skipped backups and use it instead of WalFileName of the last backup. This, effectively, will enforce skipping all WALs in case of upgrade until you get away on 7 backups from upgrade.
If you have some spare time plz review commit, if everything is OK I'll backport this to REL0_1_STABLE.
Thanks!

[2018-10-09 14:14] damirda commented on #22
I still have the same problem.
CentOS 7.5
wal-e v1.1.0 (creator of source basebackup) - python 3.5
wal-g v0.1.12.lzo

[code]

This is an empty PostgreSQL, just created, with a single test database, not a single table.
If you need it for debugging, I can upload the backup somewhere.

[2018-10-09 17:11] damirda commented on #22
Yes, I can. As I said, it is completely empty database made just for debugging.
https://damirda.com/backup.tar.xz
It is just 3MB.

[2018-10-10 08:30] x4m commented on #22
@damirda these lzo archives are padded with zeroes at the end.
I can fix this next Monday, if you want it faster I will happily review a PR
Thanks for reporting, you are doing WAL-G better!

[2018-10-10 09:14] damirda commented on #22
I would love to, but I don't know Go. :-(
Maybe I should start learning it... :-D

[2018-10-10 09:21] x4m commented on #22
```LzoDecompressor``` now uses ```io.Copy()```. There is ```FastCopy``` in ```utils.go```, with quite a similar purpose, you can copy this to lzo decompressor and modify: if you get error ```ErrClosedPipe```, then you check that there are only zeroes down to the end of the stream. If there are nonzero bytes - you return previous error, if not - you report success.
Or something like this

[2018-10-10 11:17] Mynom opened #123 "Usage of s3.DeleteObjectsInput not compatible with some 3rd party S3 implementations"
Hi,

the delete function uses s3.DeleteObjectsInput to remove old WALs and backups.

Unfortunately the S3 Storage we are using, doesn’t support deleting via s3.DeleteObjectsInput when versioning is enabled on a bucket. Disabling versioning is not possible due to our policy.

As I have no real GO skills, I cannot create a pull request, which would satisfy anyone who can code.

Therefore my question

[2018-10-10 11:28] x4m commented on #123
The change will look like this
`x4mmm-osx:wal-g x4mmm$ git diff delete.go
diff --git a/delete.go b/delete.go
index 369da2b..62a76c4 100644
--- a/delete.go
+++ b/delete.go
@@ -158,15 +158,13 @@ func dropBackup(folder *S3Folder, backupTime BackupTime) {
        keys := append(tarFiles, sentinelKey, folderKey)
        parts := partition(keys, 1000)
        for _, part := range parts {
-
-

[2018-10-10 11:34] Mynom commented on #123
Hi,

the idea was not to replace the current functions, but to add the modified ones.

So the function dropBackup and deleteWALBefore would be untouched, but there would be new functions like dropBackupSingle and  deleteWALBeforeSingle (or something like that) and I could call wall-g like "wal-g --single delete retain 123" or something like that.

[2018-10-10 11:44] x4m commented on #123
Look, here's the patch in +12 lines. It does what you want.
It will be much more work to maintain ```--single``` option for WAL-G maintainers than for you to compile and test version you want with this patch.
I will have to test this option before every release. It will add code complications. It has to be documented.

[2018-10-10 11:52] Mynom commented on #123
OK. Thanks for the feedback. That is what I thought would be the answer, but you never know until you ask.

I will check how I can implement patching and building of wal-g in my environment.
Thanks again for your time and input.

[2018-10-10 12:12] x4m commented on #123
The easiest way to setup build if to fork this repo and update travis config. You will get your own releases.

[2018-10-11 15:28] Mynom commented on #123
Fork created and convinced travis to build stuff. Thanks again. Im closing this Issue.

[2018-10-11 15:28] #123 closed

[2018-10-11 15:34] x4m commented on #123
Cool! Have fun :)

[2018-10-24 15:11] Drewster727 opened #124 "backup-push hangs"
Hi--
I'm running wal-g in a production AWS environment to handle pushing my backups to S3.
I had thoroughly tested this in our stage environment previously and the backup-push / backup-fetch worked flawlessly. However, stage doesn't see much load.

`AWS_REGION=us-east-1 WALE_S3_PREFIX=s3://pgbackups/production/backups/ /usr/local/bin/wal-g backup-push /mnt/ebs/postgresql-data/10/main`

The backup-

[2018-10-24 16:55] x4m commented on #124
Hi, Drew! Plz check Postgres logs, that it does not complain about pushed WALs

[2018-10-24 20:18] Drewster727 commented on #124
@x4m hey man -- I'm not seeing anything of value in the logs other than some queries that run and a warning when I killed the backup-push process:

My disk activity (due to the backup) just kind of stops all of a sudden about 1h 28min into the backup:
![image](https://user-images.githubusercontent.com/4528753/47458713-dea61b80-d79f-11e8-8788-ae8ff5ef624c.png)

[2018-10-25 09:08] x4m commented on #124
Which PG do you use?
What version of WAL-G do you use?
Are you doing a backup-push on master or on standby?

[2018-10-25 13:52] Drewster727 commented on #124
@x4m

wal-g v0.1.12
PostgreSQL 10.5 (Ubuntu 10.5-2.pgdg16.04+1)

I was initially doing a backup-push on the master, the process was hanging.
I am now running the backup-push on the standby node (I thought maybe the lack of writes on the slave would help). Just checked this morning, the push job was started 4 hours ago and it's still running (should have been done in 1.5 hours or so).

[2018-10-25 16:33] Drewster727 commented on #124
Just ran it again on the slave node.

You'll see below that the last backup file was at 11:07am.
The current time is 11:29 and I have not seen any new logs from wal-g. Nothing in the postgresql logs either. Any way to turn on additional logging?

![image](https://user-images.githubusercontent.com/4528753/47515693-2d5bc000-d849-11e8-9f12-65414c5542e6.png)

Disk activity basically says it's not doin

[2018-10-25 18:28] x4m commented on #124
WAL-G has no additional logging..
seems like a deadlock or something like this...
Do you observe pg_contol.tar.lz4 in tar_partitions?
are there json files in backups?

[2018-10-25 18:41] x4m commented on #124
Drew, is there only one PG instance on that machine?
Do you have WAL segment number 862C and a base with half of a terabyte of data? WAL segment number seems quite small...

[2018-10-25 18:51] Drewster727 commented on #124
Only one PG instance per node. Master has one, slave has one. Both on the same version.
I don't see that WAL segment. The database size is roughly 630GB.
I just ran the backup-push manually this afternoon and it succeeded... I'm confused.

[2018-10-26 12:33] x4m commented on #124
basebackups are named after WAL seg no of pg_backup_start() call, there are 6 nonsignificant zeroes, thus, your database generated 0x862C WAL files through it's life, it's about a terabyte of WAL.
But all this does not give us anything usefull, that was just a wild guess that you connect to one database but backup files of another...

This seems very much like deadlock caused by race conditions. B

[2018-10-26 21:32] jsuchal commented on #22
Sorry for bumping this, is this in current release? I am having same problem on the current (pre)release.

[2018-10-27 07:47] x4m commented on #22
uh.... thanks for bump, will fix this soon... @jsuchal do you have an environment to verify?

[2018-10-27 08:13] jsuchal commented on #22
Sure ping me anytime and I'll test that.

[2018-10-27 09:01] x4m commented on #22
@jsuchal can you test version from branch REL0_1_STABLE?

[2018-10-27 09:01] x4m commented on #22
It works for me for @damirda case

[2018-10-27 09:18] jsuchal commented on #22
@x4m hmm, i can't manage to build it. Could you share a binary?

[2018-10-29 15:55] Drewster727 commented on #124
@x4m I moved the job to before our ETLs run and it appears to be working better. I'm not sure why this was occurring but it must have been deadlocks as you said. I'm closing for now and will update if I find anything else related.

[2018-10-29 15:55] #124 closed

[2018-10-29 16:13] Drewster727 opened #125 "Using backup-fetch for stage restores"
I have the following process in place using wal-g:

Nightly production PostgreSQL 10.5 backup
- **backup-push** to S3

Nightly stage PostgreSQL 10.5 restore
- stop postgresql service
- **backup-fetch** from S3
- [pg_resetwal](https://www.postgresql.org/docs/10/static/app-pgresetwal.html)
- start postgresql service

Essentially we're blowing out the existing $PGDATA directory on stage and letting b

[2018-10-29 18:36] x4m commented on #125
Hi!
No, backuping mid-anywhere should be safe.
```pg_resetwal``` is not safe, you should restore db to consistent state with WALs from archive.
Postgres online backups are working like this:
0. you setup archive_command to save WALs (for example ```/usr/bin/wal-g wal-push %p```)
1. call pg_start_backup() it sets specific WAL mode when all neccesary data is written to WAL and select start point
2.

[2018-10-29 19:07] Drewster727 commented on #125
@x4m  ahhh, so... you're saying:

- Stop running pg_resetwal
- Once the backup-fetch completes, drop in a recovery.conf file that fetches WALs to return it to a consistent state?

Keep in mind this is a **stage** database, so I don't necessarily want it to keep up with prod WALs consistently during the day. I just want a point-in-time restore each night and call it good.

[2018-10-30 03:00] Drewster727 commented on #125
@x4m I think I got it figured out.

Per [this](https://www.postgresql.org/docs/10/static/recovery-target-settings.html) link on setting the recovery_target to "immediate" my stage postgres will quickly catch up to a consistent state then pause WAL fetching once it reaches that state -- then I can remove the recovery.conf file.

That did the trick. Thanks!

[2018-10-30 05:18] x4m commented on #125
Thanks for reporting! Bug reports make WAL-G better, we all want safe backups :)

[2018-10-31 20:02] Drewster727 commented on #125
@x4m

Well, I thought I had this resolved. The restore process today left my stage database in a not-so-good state.

`
2018-10-31 18:28:37 UTC LOG:  request to flush past end of generated WAL; request 185/D27A6A38, currpos 185/D1CEAA78
2018-10-31 18:28:37 UTC CONTEXT:  writing block 3277944 of relation base/16386/51478
2018-10-31 18:28:37 UTC ERROR:  xlog flush request 185/D27A6A38 is not satisfie

[2018-11-01 11:31] x4m commented on #125
@Drewster727 , are you sure you did not do pg_resetwal on this cluster? somehow cluster thinks that it was in consistent state while it have not yet been there.

[2018-11-02 14:53] Drewster727 commented on #125
@x4m I was originally doing the pg_resetwal before you had mentioned not to do that. My latest process does not resetwal on the stage box I'm restoring to.

[2018-11-02 16:37] x4m commented on #125
@Drewster727 do you constantly get broken cluster after restore?
Is your production cluster consistent?

There are various smote tests to check postgres consistency. Most common ways:
1. To check heap files you can pg_dump or COPY TO  to /dev/null data.
2. To verify indexes you can use amcheck extension

Do you have data_checksums enabled?

[2018-11-02 19:32] diranged opened #126 "Failure to find files in S3 results in stack traces.."
When Postgres is running in its normal `recovery_command`.. mode (pulling from S3), the 0.1.12 and 0.1.13 releases of WAL-G throw these giant stack traces all the time:
[code]

[2018-11-08 22:58] Drewster727 commented on #125
@x4m we're still seeing some odd behavior but it appears to be working now after restarting the pg service once it gets caught up. Prod cluster is consistent.

I'm going to close this for now, but if we see any further odd behavior I'll reopen and get more details added.

Thanksf or your help!

-Drew

[2018-11-08 22:58] #125 closed

[2018-11-09 14:54] x4m commented on #125
Drew, thanks! Bug reporting is doing WAL-G better. But I hope you DB will be OK :)

[2018-11-12 11:42] x4m opened #127 "Avoid mutating interaction with archive_status"
This task was created per [discussion](https://www.postgresql.org/message-id/flat/78844d75-3de2-b074-74ee-a4a12b2d5881%40pgmasters.net#52fb8c1ec5bb7eb7c79e8d6051a38c75).

Currently, we have a parallel wal-push by reading archive_status directory.
We change archive_status to signal that WAL is already uploaded. Currently, it is a safe way to parallelize WAL archiving, but hackers suggest that in fu

[2018-11-13 11:44] x4m opened #128 "Correctly aquire information on AWS_REGION"
Here's a [problem line](https://github.com/wal-g/wal-g/blob/master/configure.go#L108)
At least we should parse URL and extract hostname
Also, I think it worth to try to find region anyway, other S3-compatible storage engines may be able to tell us expected region too.

[2018-11-13 11:48] x4m commented on #126
@diranged plz check that this stacks are gone in recent releases.

[2018-11-13 21:56] diranged opened #129 "Waiting on Replication Status to be COMPLETED"
@x4m,
  We run a setup here where our files are written into a local S3 bucket and then we use S3 CRR (Cross Region Replication) to copy the files to a remote S3 bucket where a remote server pulls them down. This works pretty well, but every once in a while Amazons CRR will hit a snag and "miss" a notification event telling the CRR system to copy the file. (This is a known issue inside the S3 team

[2018-11-14 05:39] x4m commented on #129
Hi!

Sure, just set WALG_UPLOAD_CONCURRENCY to 1

Also, look into https://github.com/wal-g/wal-g/issues/127
Effectively this means that bgUploader will upload prepared WALs, but not mark them done in archive_status, but remember that files are done. Then postgres will call archive_command, WAL-G will understand that WALs are done and exit.
This will solve the problem for you and allow usage of bgu

[2018-11-14 05:43] x4m commented on #129
So, we should check etag in another bucket, right? Seems easy... But in a loop with timeout?

[2018-11-14 19:57] martinisoft opened #130 "Decompress and decrypt bug in 0.1.14"
During the base backup fetch phase we hit a series of errors with the decompression and decryption portion. Here is the error we get during the backup fetch:

[code]

We backup using 0.1.10 right now and trying 0.1.12 for restoring works consistently. Upgrading to 0.1.14 for restores causes this error to come up consistently so I am not sure which change between 0.1.12 and 0.1.14 caused this.

[2018-11-14 22:01] kainz commented on #90
I have preliminary dh-golang targeting packaging building and passing tests in https://code.launchpad.net/~wal-g-mindep/wal-g-mindep-ubuntu/+git/wal-g-mindep-ubuntu and https://code.launchpad.net/~wal-g-mindep/+recipe/wal-g-mindep-ubuntu-daily.  I'll report on their efficacy sometime soon.

They're defniitely not Debian policy compliant though (all the vendored deps are still there), and it may be

[2018-11-15 05:48] x4m commented on #130
Hi @martinisoft !
Thanks for reporting!
I've found two critical issues:
1. I've thoroughly tested in QA env branch REL0_1_STABLE. And somehow used master for tag v0.1.4 instead of REL0_1_STABLE. I'll fix that ASAP.
2. In fact, you've been using v0.2.0 - this is pre-release, seems like a problem was introduced by updating lz4 library. I cannot reproduce this problem in my env and will be happy if y

[2018-11-15 05:58] x4m commented on #130
1. I've re-issued v0.1.14 with tag v0.1.15. Now it should be safe.
2. About lz4. We were using https://github.com/pierrec/lz4/commit/5a3d2245f97fc249850e7802e3c01fad02a1c316 for a long time. WAL-G v0.2.0 now uses https://github.com/pierrec/lz4/commit/1958fd8fff7f115e79725b1288e0b878b3e06b00 which contains known bug https://github.com/pierrec/lz4/issues/29#issuecomment-416052849 (I cannot conclude

[2018-11-15 08:23] Ahton89 opened #132 "usability fixes and broken release"
Hello Andrey! wal-g is perfect program, but my inner perfectionist say me about some fixes :)
- need fix SERVER value. If using minio, this variable is empty - maybe need using value from AWS_ENDPOINT environment if usage different s3, not amazon?
- in release tab exist version 0.1.14 - but she is use tag 0.1.15  - please fix it :)

And thank you for wal-g and your work - this is really perfect to

[2018-11-15 08:48] x4m commented on #132
@Ahton89 thanks!
I've fixed 2nd point.

As to first:
In stdout "SERVER" is actually "path inside the bucket" value. Minio is used as a one-bucket-one-server, thus has no "SERVER".
But the whole thing "SERVER" is kind of strange, in a PostgreSQL cluster there is hell lot of servers.

Now working on v0.2 we really need advice from perfectionists: which information should be unconditionally outputted

[2018-11-15 10:08] Ahton89 commented on #132
i think for "backup-list" you may usage this library https://github.com/jedib0t/go-pretty for generate CUI.
Example: ![Alt Text](https://ahton.ru/wal-g-output-example.png)
and maybe  add "--json" modificator for command "backup-list" - for getting info about backups and easy parsing output executed from outside scripts.

for postgresql logs i think need add output in postgresql format, e.g
`2018-1

[2018-11-15 11:19] Ahton89 commented on #132
i can in this weekend's will try create templates "how i see UI and options in wal-g" and add result in this thread, if you want. :) maybe you find is something new and needed :)

[2018-11-16 17:22] diranged commented on #129
@x4m,
  Sorry for the delay .. so you don't even need to check the other bucket. Its much simpler than that, thank god. I think its a reasonable addition to the code that..

[code]

I know thats stupid pseudo code.. but basically an optional check that polls the replication status of the S3 Key that was uploaded. If it fails, then we bail out. You don't need to know about the remote bucket, you ca

[2018-11-16 17:33] diranged commented on #126
Thanks we'll try to roll this out today or next week.

[2018-11-17 20:14] evansd commented on #84
Hi, I've been having exactly this issue with restores using both v0.1.15 and v0.2.0 of WAL-G. But using the version linked [above](https://github.com/wal-g/wal-g/issues/84#issuecomment-413110102) works perfectly.

I wonder if it would be possible to have a config option to run WAL-G in some sort of "slow but reliable" mode when doing restores? I appreciate all the work that's going in to making WA

[2018-11-20 18:45] diranged commented on #129
@x4m,
  Just following up - this is becoming a bigger issue for us. We tried setting the `WALG_UPLOAD_CONCURRENCY` setting to `1`, and we very quickly figured out that it simply takes too long for us to upload these files one by one, and wait 30-90s for the replication to finish in Amazon, all as sequential operations. We write to the DB too much to do this sequentially and in a blocking fashion.

[2018-11-24 09:00] tamalsaha opened #138 "Fail to compile from source"
I am trying to rebuild the binary on a Ubuntu 18.04 machine. I am getting the following error:

[code]

What do I need to do for `brotli` ?

Thanks.

[2018-11-24 09:37] x4m commented on #129
@diranged  hi!
Sorry for the delay, I've catched unexpectedly strong flu, just got out of bed.

Test version sounds good

[2018-11-24 09:53] x4m commented on #129
@diranged
Here
https://github.com/x4m/wal-g/commit/0984753f0e7c392f83eeeb23ad8f49a49ecaa9ff#diff-73d6ee749f5a9424c026d7599f7f4060R149

Plz tell me what string to wait for

[2018-11-24 10:01] x4m commented on #138
I do not know, maybe you can add something to build.sh to produce necessary build? Or add script that will produce version you want?

Also, we could make brotli built with gotags like lzo. This will partially solve the problem, but I really expect that this compression algorithm is far superior to lz4 for typical database workloads.

[2018-11-24 10:55] tamalsaha commented on #138
I just tried with an Alpine specific (need to install compiler and removed docker-compose parts) `build-alpine.sh` and run it inside `golang:1.11.2-alpine` Docker image using `make alpine` command. You can see my change here: https://github.com/kubedb/wal-g/commit/d83b9b08f519adcbc4db5135ba992d4194801882

But I am getting a new error from zstd:

[code]

Do you know where this build tag is defined?

[2018-11-24 11:11] tamalsaha commented on #138
The error was fixed after I removed `CGO_ENABLED=0` .
https://github.com/golang/go/issues/24433

[2018-11-24 11:21] tamalsaha commented on #138
Looks like it worked

[code]

[2018-11-26 06:13] Tinsane commented on #138
HI!
The possibility of the Alpine build is very cool! Unfortunately, none of the active WAL-G developers use Alpine so for us, it's impossible to validate the correctness of the build. You can maintain it by yourself but in such a case it gonna be easier for you if you refactor the Alpine build logic in such a manner, that we shouldn't make build process changes in both scripts for Alpine and othe

[2018-11-28 18:23] x4m commented on #129
@diranged
here's the tag
https://github.com/wal-g/wal-g/releases/tag/v0.2.0-repl_status
I hope Travis will put artifacts there. Plz note that feature is not tested by anyone except you.

[2018-12-02 08:48] x4m opened #152 "Support 9.5 and 9.4 in integration tests"
As far as I can see (per reports) 0.2.0+ is broken for 9.5:
1. When we are doing backup from replica we check timeline by calling pg_checkpoint_control()
2. This function is 9.6+
3. Somehow we refactored master backup code that it obtains timeline, not from WAL filename, but the same way as in replica

But all these are not a big deal per se, will test and fix eventually.
We should:
1. either drop

[2018-12-03 12:33] x4m commented on #152
actuall 9.5 works, just makes a warning

[2018-12-04 18:19] kratorman commented on #120
@x4m I have same issue.
postgres: 10.5
Wal-g 0.1.15

[2018-12-06 15:25] carolfly86 opened #155 "Does it support backup to GCS?"
WAL-E supports backup to GCS, does WAL-G supports GCS as well?

[2018-12-06 15:44] gannebamm opened #156 "simple FileSystem backup System?"
Hello
I would like to create a continous replication system from a corporate LAN to a on premise hosted network on the WWW. The LAN has read and write permission to our WWW network, but WWW is not allowed to read or write to our LAN. Could this kind of 'mirroring' be achieved with wal-g / wal-e? I am not shure about that. What about the filesystem backup, which was in wal-e, is it allready in wal-

[2018-12-07 09:43] x4m commented on #155
Hi @carolfly86 !
Yes, most probably we will support GCP. I cannot give you a proper ETA. But to give you some idea when GCP will be supported by WAL-G I'll describe what is between WAL-G and GCP.
1. Separate storage logic from code. Most hard technical part. Is done here #146
2. Implement GCP interaction: read configs as in WAL-E and implement one interface StrageFolder. This seems quite easy, I h

[2018-12-07 09:47] x4m commented on #156
Hi @gannebamm !
Thanks for your question. Please read the answer in #155 with s/GCP/FileSystem/g
And remove point about docker image, we do not need docker image to backup on FS.
Besides what is there, I can add that yeah, backup on file systems is a feature that we want. Chances are that we will do it soon. If you have some spare time I'll happily review a PR.
Thanks!

[2018-12-07 14:10] carolfly86 commented on #155
Thanks @x4m for your reply!
Should I expect official GCP support in the next release possibly 2-3 months from now?

[2018-12-08 15:48] x4m commented on #155
Most probably yes.
Moreover, you can change it do "definitely yes" by sending PR on point 2. We'll be happy to review it.

[2018-12-16 11:39] x4m commented on #129
@diranged how is going? did you use that build?

[2018-12-16 17:15] x4m commented on #130
If there are no more questions, let's close this for now. If you have some questions feel free to create new or reopen this issue. Thanks!

[2018-12-16 17:15] #130 closed

[2018-12-16 17:17] x4m commented on #126
In 0.2+ releases WAL-G will report errors with stacks iff WALG_LOG_LEVEL is DEVEL.
I'll close this, for now, please reopen if you have more questions. Thanks!

[2018-12-16 17:17] #126 closed

[2018-12-16 17:21] #108 closed, assigned to nobody

[2018-12-18 11:22] x4m commented on #156
done

[2018-12-18 11:22] #156 closed

[2018-12-18 11:23] x4m commented on #155
done, plz test it

[2018-12-18 14:19] carolfly86 commented on #155
Thank you very much! will test it today and let you know

[2018-12-19 14:14] carolfly86 commented on #155
I tested backup-push on a 711GB database instance. With the latest pre-release version to GCS it took 3hr 51 mins, but with the previous 0.1.15 version to S3 it only took around 70 mins. Is it expected to have such significant performance difference?
In both tests, I only set the credential and storage prefix, all other params are just default values.

[2018-12-19 18:12] x4m commented on #155
Thanks for testing!

Currently, I have only one hypothesis: in S3 we use multipart uploads, they are uploaded in parallel.
Looks like GCS does not have this (but I'm not a GCP expert!)
I've found this https://godoc.org/google.golang.org/api/option#WithGRPCConnectionPool , but looks like it's not what we want.
Here https://cloud.google.com/storage/docs/composite-objects#_Uploads they recommend doin

[2018-12-19 18:35] carolfly86 commented on #155
Thanks for your investigation! I'll try  WALG_UPLOAD_DISK_CONCURRENCY.

[2018-12-25 10:40] #138 closed

[2019-01-01 21:24] Dirbaio opened #163 "Allow using GCS with default service account creds (metadata server)"
Currently, the GCS integration requires that `GOOGLE_APPLICATION_CREDENTIALS` is set, and errors otherwise.

https://github.com/wal-g/wal-g/blob/9d01f3a62a150724cc9ab8722326dd8dfe2768cf/internal/gcs_folder.go#L33-L41

However, when running in GCE or GKE, it's useful to let the application use the service account of the machine it's running on (via the metadata server). GCP client libraries [automa

[2019-01-02 18:19] Dirbaio commented on #163
I'll happily make a PR soon :)

(Wal-e also leaves credential management to the GCP SDK. Their docs wrongly state that `GOOGLE_APPLICATION_CREDENTIALS` is required, though.)

[2019-01-03 11:01] dplagge opened #165 "Error message when restoring backup"
When I try to restore an backup with `wal-g backup-fetch` it fails after downloading most of the data:

    [...]
    /pg_wal
    /pg_xact
    /pg_xact/0000
    /postgresql-qa.conf
    /postgresql.auto.conf
    /postgresql.conf
    /server.crt
    /server.key
    2019/01/03 09:56:04 WAL-G does not support the file format '' in 'basebackups_005/base_000000010000004B000000CD/tar_partitions/'
    Ext

[2019-01-03 11:20] x4m commented on #165
Hi! It seems like there is some extraneous file in basebackups_005/base_000000010000004B000000CD/tar_partitions/
Can you list that folder?

[2019-01-03 11:21] x4m commented on #165
There must be only tar.%compressor, where %compressor is lz4, lzo, lzma or brotli

[2019-01-03 12:01] dplagge commented on #165
There are 15 files in that directory:

    part_001.tar.lz4
    part_002.tar.lz4
    [...]
    part_012.tar.lz4
    part_013.tar.lz4
    part_015.tar.lz4
    pg_control.tar.lz4

There seems to be no `part_014.tar.lz4`.

[2019-01-03 12:52] x4m commented on #165
hmmm, somehow storage pretend that 'basebackups_005/base_000000010000004B000000CD/tar_partitions/' is a file...
Did you use previous versions of WAL-G with this storage?

If it is critical for you to retrieve your data asap I can hack a version for this specific problem.
Otherwise let's think how to diagnose the problem and work out generic solution.

[2019-01-03 12:58] dplagge commented on #165
Thank you very much for looking into this!

I'm currently preparing our database for production. Then the backup should work. Luckily this was only the result of a test. :sweat_smile:  So it's not urgent to read to the data.

[2019-01-03 15:49] x4m commented on #165
Can you run [storage folder test](https://github.com/wal-g/wal-g/blob/master/test/s3_folder_test.go#L13) against your S3?
In order to do it you should remove Skip() call, put in your creds and run test.
This should be something like  ```make deps```, ```cd test``` and ```go test -run TestS3Folder```.

If the problem is easily reproducible through this test, I can change WAL-G so that it will pass

[2019-01-07 09:27] #163 closed, assigned to nobody

[2019-01-07 14:21] carolfly86 commented on #155
@x4m I tried set WALG_UPLOAD_DISK_CONCURRENCY to 5, now it finished around 30mins. the performance seems to be ok, thanks for checking!

[2019-01-07 16:49] x4m commented on #155
Cool! So, I'll close the issue until some other GCP users will find out that there is no multipart uploads and will venture a PR :)
BTW, do you observe acceptable memory consumption?
Also, if you will find out that WAL-G consumes too much of disk bandwidth you can use WALG_DISK_RATE_LIMIT (bytes per second).

[2019-01-07 16:49] #155 closed

[2019-01-07 16:58] carolfly86 commented on #155
memory consumption is fine. Disk i/o was 2-3 times of the wal-e backup, but the duration is also much less then half of wal-e. I guess this may be fine since we are backing up from a read replica. Will definitely try WALG_DISK_RATE_LIMIT if needed. thanks again for your work!

[2019-01-08 14:50] carolfly86 opened #166 "problem with using wal-push archive_command to GCS"
Hi,
I'm trying to use wal-push as archive_command to archive to GCS. `/usr/bin/envdir /etc/wal-g.d/env /opt/wal-g/bin/wal-g wal-push %p`  the command runs fine (exit code 0) when I ran it manually as postgres user , but in postgres log it still complains the `archive command failed with exit code 141.`
We used strace to trace the process and found that it seems to choke on stdout `write(1, "Path:

[2019-01-11 15:52] dragonsmith commented on #92
@x4m Hey! Thanks for improving wal-g!

I think the idea to use a default gpg key store is a bit better overall than to store keys in env vars or files - you can manage them with a ready cli tool and use these keys for any other encryption processes. The problem is that the default gnupg package can be still too old (version 1....) and v2 key store is incompatible with v1. It raises the new choice:

[2019-01-11 16:14] x4m commented on #92
@dragonsmith thanks!
As far as I know, @Savichev-Igor was doing some work on organizing crypto around WAL-G. Though I do not know what's the current state of his research.

[2019-01-11 20:46] davidfetter commented on #92
With utmost respect, the reason to ship `wal-g` with its own way to handle keys in the first place is that OSs frequently come with wrong versions of it. The `go` ecosystem is tuned up to avert problems of this type if we just work with it.

[2019-01-14 19:35] carolfly86 opened #168 "wal archive with both wal-e and wal-g"
Hi, we are trying to migrate wal-e to wal-e with archive_command using script ```#!/bin/bash
/usr/bin/envdir /etc/wal-e.d/env /opt/wal-e/bin/wal-e wal-push $1 && \
/usr/bin/envdir /etc/wal-g.d/env /opt/wal-g/bin/wal-g wal-push $1 &>>/var/log/wal-g/wal-g.log```
Some wal files are archived by wal-g but are skipped by wal-e.
I think we ran into the same problem as https://github.com/wal-g/wal-g/issue

[2019-01-14 23:00] Savichev-Igor commented on #92
Yes, i did a little research for this issue, but I couldn't find a good way for remove external GPG (anyway we need to keep backward compatibility in current version and can safely remove GPG in next major version)

At the moment i can try to implement:
- Mechanism that reads keys from ENV vars, as suggested by @x4m
- Add a terrible warning about using an outdated version of GPG and recommend the

[2019-01-15 02:50] carolfly86 commented on #166
This issue may not be related to wal-g. This archive command only fails on the patroni cluster but runs fine on postgres instances. It's more likely to be related to patroni https://github.com/zalando/patroni/blob/master/patroni/postmaster.py#L163
While wal-g runs fine with patroni because it uses syslog instead of stdout.

[2019-01-15 02:50] #166 closed

[2019-01-15 04:12] x4m commented on #166
it's wal-e, right?

We use unified logging subsystem, it is not very difficult to add syslog as log destination...

[2019-01-15 04:13] x4m commented on #168
Yes, we will fix it on WAL-G side here https://github.com/wal-g/wal-g/issues/127

But WAL-E will still steal from us...

[2019-01-15 10:22] x4m commented on #166
@Tinsane let's add this task for students? ```Allow redirecting log to syslog```
Unfortunately, this task can be completed only by those students who mastered Linux VM instantiation.

[2019-01-15 14:05] carolfly86 commented on #168
Thanks! I'll try that!

[2019-01-15 14:06] carolfly86 commented on #166
sorry, my mistake, I meant wal-e runs fine because it uses syslog

[2019-01-15 15:43] carolfly86 commented on #168
Also, another question, could wal-g restore base backup and wal files archived by wal-e?

[2019-01-15 16:07] x4m commented on #168
Yes, we consider this as a supported feature. But you have to use lzo-enabled version (slightly bigger executable)

[2019-01-15 16:17] carolfly86 commented on #168
Thanks! that's a great feature for wal-e to wal-g migration.

[2019-01-18 09:19] johannesluedke commented on #152
@x4m is Postgres 9.4 supported by wal-g?

[2019-01-18 11:49] x4m commented on #152
@johannesluedke Yes, but it is not tested with integration tests. If you observe some problems with PostgreSQL 9.4, please report them.

[2019-01-22 09:53] x4m commented on #168
@carolfly86 JFYI https://github.com/wal-g/wal-g/releases/tag/v0.2.4

[2019-01-25 08:16] the-redback opened #170 "Getting certificate signed by unknown authority error in GCP"
The documentation states, wal-g supports google cloud provider.

But when i tried, I am getting bellow error:

[code]

My Approach was:

[code]

Anybody else faced the problem? Any workaround?

[2019-01-25 08:32] x4m commented on #170
Let's ask from GCP users.
@Dirbaio @carolfly86 can you please comment? Did you ever encounter such errors?

[2019-01-25 08:47] the-redback commented on #170
I think My base image was missing `ca-certificates`. Give me a second.

[2019-01-25 09:41] x4m commented on #170
Ok, thanks for asking!

Hope that in case anyone else will encounter this - they will be able to find it in issues :)

[2019-01-25 10:08] vstax opened #171 ""Invalid page header" warnings during backup-push"
Hello, I'm trying out wal-g on barely loaded database and sometimes getting warnings like this (here `wal-g backup-push /var/lib/pgsql/11/data` was started at 2:02 AM:
[code]

Wal-g 0.2.4, postgresql 11.1 running on EL 7.6, settings are
[code]
Backup is done from local connection (PGHOST=/var/run/postgresql). Nothing unusual in postgresql.conf.

postgresql log file shows that 3 WAL files were push

[2019-01-25 17:17] x4m commented on #171
Hi!

When you are making delta backup WAL-G reads data pages to find what changed. To understand that page changed we read LSN from the page header. But before reading LSN we check some invariants to verify that page header looks sane.
If the page header does not look like usual page header https://github.com/wal-g/wal-g/blob/master/internal/postgres_page_header.go#L23-L31 we consider a page in an

[2019-01-25 17:47] vstax commented on #171
Thanks for the explanation. Relations 880656 and 880660 are indexes from the same table; amcheck doesn't show any problems. Cannot do pg_verify because it requires to stop the database :) but nothing seems to be wrong.
This might be related or not, but the table and both these indexes are "unlogged". Well it should only affect the WAL, not the table on disk itself, I think...

Anyhow, feel free to

[2019-01-25 21:24] cjhubert opened #172 "Missing files in backup-fetch of wal-e archive"
# Details

- wal-g Version = `v0.2.4`
- wal-e Version = `v1.1.0`
- Postgres Version = `10`

Attempting to `backup-fetch` a backup made with `wal-e` using `wal-g`. I was getting
the pg control issue prior, but moving to `v0.2.4` fixed that. Now, however,
I'm getting this odd issue where all files in the root directory are missing.
Files inside directories appear to be present, however.

I can resto

[2019-01-28 11:58] DeathBorn opened #175 "wal-e and wal-g do, restore and see backups differently"
- wal-g 0.2.4
- wal-e 1.1.0
- postgresql 11
- no load on db during backup operation

Backuping with *wal-g*
[code]

Then running backup operation with *wal-e*
[code]
### Problem 1: Wal-g sees everything, but in different format
[code]
While wal-e can't see wal-g backups
[code]

### Problem 2: wal-e backup is restored diferently by wal-e and wal-g
[code]
Also pg_wal symlink is not restored correctl

[2019-01-29 06:08] x4m commented on #175
Hi! Thanks for reporting!

Looks the same as #172

Can you plz give me backup?

[2019-01-29 07:08] DeathBorn commented on #175
How blind of me! Give me some time to prepare them without sensitive info.

[2019-01-29 17:21] x4m commented on #175
Actually, I think it's not necessary to do a backup of your full db. Just an empty (fresh initdb) in your environment, probably, will be enough to troubleshoot the problem.

[2019-01-29 21:21] cjhubert commented on #172
Sorry for the slow reply. Similar to the other issue linked, I haven't been able to think of a way to make a backup that would be safe to share out. Kind of wish wal-e had some example base backups but didn't see anything looking through their repo.

I can say that I can simply download the `.tar.lzo` file, run `lzop -d <filename>`, then `tar -xvf <lzop decompressed filename>` and see the entire d

[2019-01-30 13:54] dobrozhanskyi opened #176 "backup-push archive/tar: sockets not supported"
env:
[code]

[code]

[2019-01-30 16:01] dobrozhanskyi commented on #176
looks we need use tablespaces dir like `/data/patroni/global/`

[2019-01-30 22:17] cjhubert commented on #172
I was able to push a back up with wal-e with the postgres docker image and replicate this issue. I'll attempt to attach the files wal-e pushed. Note that this is an empty database, but the same issue persists (wal-e shows the files, wal-g does not). If there's any other information I can provide, please let me know 😄

[basebackups_005.zip](https://github.com/wal-g/wal-g/files/2814720/basebackups_0

[2019-01-31 12:23] tam-i13 opened #177 "Problem is always appeared in case of restoring more than 1 delta."
Hi, I have tested wal-g and ran into the problem. When backup-fetch in 2 delta copys, restore is not fine.
Problem was appeared when I restoring backup from two deltas. Errors during recovery are being appeared, if the recovery chain is greater than 1st delta.
Wal-g 0.2.4
PostgreSQL 9.6.9
For testing restore on special server.

[code]

Test 1 (ERROR), restore base_000000010000004B000000E5_D_000000

[2019-01-31 14:01] x4m commented on #177
Thanks for reporting!
I'll look into this. I did not encounter this myself but heard reports about quite similar problem no so long ago.

[2019-02-01 08:41] #176 closed

[2019-02-03 06:05] fdr commented on #175
This was not intended to be a feature: WAL-G's storage format is more streamlined than WAL-E, and can read, and not write, archives compatible with WAL-E. It was intended to be a one-way transition only.

[2019-02-03 11:32] x4m commented on #172
Thanks! I've finally tracked it down.
Function GetRestoredBackupFilesToUnwrap() is not working correctly for WAL-E, because it is using WAL-G format.
@Tinsane , I propose using nil field of FilesToUnwrap as a marker "Extract everything". Actually, current code also breaks backups of pre-0.1.3 backups too, because of 0.1.3 introduced sentinel internals, before this it was empty :)

[2019-02-03 11:35] x4m commented on #172
Also, I suspect some of this FilesToUnwrap code is responsible for #177 too. There are files missing in multilevel deltas, I could not reproduce that still, but think we can just stare at the code closely and compel the bug to go out to give up.

[2019-02-06 13:02] combrs commented on #120
I'm try to use $ wal-g -v
v0.2.4

And when run backup-push, I was mixed up  source and destination parameter, and result command was like this:
WALG_FILE_PREFIX=/srv/wal_archive/ wal-g backup-push /srv/wal_archive/

Output is (pause for FIVE minutes)
Path:
INFO: 2019/02/06 16:36:22.926322 Doing full backup.
INFO: 2019/02/06 16:36:23.044460 Walking ...
INFO: 2019/02/06 16:36:23.045383 Starting part

[2019-02-06 17:02] x4m commented on #120
Yes, this definitely should be fixed.

[2019-02-07 09:05] adeesent commented on #90
May be consider https://github.com/goreleaser/goreleaser ?

[2019-02-07 09:07] adeesent opened #180 "Add support for multiple destinations for achive"
Hi, would be great if wal-g have an option to support multiple destinations for data e.g. two different object stores.

[2019-02-07 09:10] adeesent opened #181 "Problems with backup restore on MCS (Mail.ru Cloud) provided object store"
Seems related to https://github.com/wal-g/wal-g/issues/84

[2019-02-12 12:43] Tinsane commented on #177
Hello!
We tried to reproduce this issue locally but failed to do it. @tam-i13, can you add a setting "WALG_LOG_LEVEL=DEVEL" and send us a full log file of failing backup-fetch?

[2019-02-12 17:26] alijkl opened #182 "throttle if wal not found after X retry"
Hi,

Today I had to face an issue using wal-g on missing wal (old replica brought back from the dead). It was filling up S3 with HEAD request.

I understand that wal-g will try really hard to get all  the wal it can. Will you consider to throttle the download in case of 404 after n retry or do you think it is better done in the recovery.conf restore_command.

thanks
[code]

[2019-02-13 07:45] x4m commented on #182
Hi! I think this is a viable idea. But if you have standby that if restoring from archive (not streaming replication) it's not a good idea to throttle...

But I'm not sure it's a good idea to retry 404, may be we should just fix it.

[2019-02-13 17:21] diranged commented on #129
@x4m,
  Hey just a quick followup here. We've been running this successfully for a while now but we did just have some hiccup that we don't totally understand. This problem that just happened was triggered on two databases in the same region within an hour or so of each other - we have identical databases in other regions around the world, and it did not happen there.

  The issue seems to be that

[2019-02-15 13:52] tam-i13 commented on #177
Hello.
I've added "WALG_LOG_LEVEL=DEVEL". You can get log archive here (https://yadi.sk/d/KhTD83bIwu11vg).

[2019-02-19 10:29] alijkl commented on #182
Hi,
Sorry for the late reply. You are right wal-g should not retry on 404 as far as I know.
NoSuchKey and NoSuchBucket map to 404 error in S3. It may be better to log and exit.
thanks

[2019-02-20 12:57] x4m commented on #177
Please test that issue is fixed in the recent version. If something is still broken plz reopen.

[2019-02-20 12:57] #177 closed

[2019-02-20 12:58] x4m commented on #172
Please test that issue is fixed in the recent version. Now we have integration tests, so we will detect this early. If something is still broken plz reopen.

[2019-02-20 13:03] x4m commented on #175
Please test that issue is fixed in the recent version. If something is still broken plz reopen.

[2019-02-20 13:03] #175 closed

[2019-02-20 13:04] x4m commented on #172
We still have the problem with correct permimssions of backup, I think we should do as pg_basebackup does. If you do not mind may I ask you to close this issue and open one about file access right?

[2019-02-20 13:04] #172 closed

[2019-02-20 18:13] koehn commented on #84
FWIW I'm experiencing the same thing with v0.2.5. If I set `WALG_DOWNLOAD_CONCURRENCY=1` things work fine (albeit slowly). Without restricting concurrency I get either, `DecryptAndDecompressTar: lz4 decompress failed. Is archive encrypted?: DecompressLz4: lz4 write failed: unexpected EOF` or `Extraction error in part_004.tar.lz4: extractOne: Interpret failed: Interpret: copy failed: unexpected EOF

[2019-02-21 18:17] OrangeDog opened #186 "Documentation updates"
Recent merges to add GCS and file support didn't completely update the readme, which now appears to single-out S3.

[2019-02-21 18:38] OrangeDog opened #187 "Usage confusion"
Is WAL-G supposed to be a direct replacement for WAL-E, such that the commands are the same?
If so, then the readme is very confusing, seemingly describing completely different operations and usage examples. If not, then you need to provide more details and some migration tips:
 - is `~/extract/to/here` intended to be PG_DATADIR?
 - what's `example-backup`? You have to get the name from `backup-li

[2019-02-22 18:41] x4m commented on #186
Hi! Thanks for reaching out!
Yeah, our docs are a bit too simplistic...

Honestly, English is not my native language. If you have some spare time - let's do WAL-G better together. I'll happily review a PR.

[2019-02-22 18:42] x4m commented on #92
finally resolved #173

[2019-02-22 18:42] #92 closed

[2019-02-28 13:08] johannesluedke opened #191 "backup-fetch fails with "Interpret: copy failed" unexpected EOF (wal-g 0.1.15)"
system: CentOS 7 in a docker image, Postgres 9.4
wal-g version: `0.1.15`

`wal-g backup-fetch  <folder> LATEST` fails with

[code]

This also happens with `WALG_DOWNLOAD_CONCURRENCY=1` 😱

[2019-02-28 16:38] thda opened #192 "Add support for backup to remote host via ssh"
Hi,

some companies do not want to store data on the cloud and do not have any plans to implement on-premise cloud storage.

For those use cases, it would be great if wal-g allowed pushing to a remote server via ssh.
Could you please let me know if that sounds doable, and if so, can we work on the design ?

Cheers
Thomas

[2019-02-28 18:29] x4m commented on #191
Hi! usually unexpected EOF is the sign of broken tcp connection.
But this error may hide a lot of different root causes. Can you plese give bigger part of log?

Also, may I ask you to try 0.2.6, we have significantly improved retry logic (though it's still far from perfect)

[2019-02-28 18:40] x4m commented on #192
Hi! Thanks for this proposal!

With ssh, you have two machines: 1. cluster node host 2. backup host

It seems hard to impractical to run WAL-G on the backup host and acquire data through rep protocol or scp.

Running WAL-G on the DB side seems easy, there's no need to change a lot of things. If there are well-supported scp go adapters - I do not see anything difficult with it, it should be as stra

[2019-02-28 18:41] x4m commented on #192
We already have S3, GCP, SWIFT, Azure, FS. Why not add SSH?
@Tinsane , what do you think?

[2019-02-28 19:43] thda commented on #192
Provided you give the go, I can give a shot at it (with a good test suite of course)

[2019-03-03 16:07] CyberDem0n opened #196 "Symlinks are broken after backup-fetch"
Example:

[code]

After restore `pg_hba.conf` and `pg_ident.conf` are pointing to non existent files.
There is also an unexpected `tablespace_map` file, which wasn't present in the source directory.

[2019-03-04 08:02] johannesluedke commented on #191
Is it safe to use 0.2.6 for restore? It's tagged as a pre-release. And it works to make the backup with 0.1.15 but restore with 0.2.6?

[2019-03-04 08:07] johannesluedke commented on #191
I tried to reproduce the log, but this time no errors and it restored like a charm. It also took less then <5mins while last time (failed) restore took over ~1h

[2019-03-05 17:03] x4m commented on #191
As for now we only know about one bug present in 0.2.6. It is related to high disk concurrency during backup upload. And the very same bug found in 0.1.15. So, yes, 0.2.6 seems safe for restore.

[2019-03-05 17:18] x4m commented on #187
Hi! Sorry for the late reply
0. Yes, we support the transition from WAL-E. Not in every feature, but in generic case backup-fetch and wal-fetch will work with WAL-E data.
1. backup-push and backup-fetch operate with ```PGDATA```. If you will point backup-push to not-```PGDATA``` it will crash. It is known bug #120, I hope someone will fix.
2. you can backup-fetch LATEST or something from backup-li

[2019-03-05 17:36] OrangeDog commented on #187
If the interface is supposed to be the same as WAL-E, then you can start by copying their documentation.

[2019-03-05 17:44] x4m commented on #187
Well, the interface is quite similar, but slightly differs. E.g. we do not support CLI keys like
[code]

[2019-03-05 18:16] OrangeDog commented on #187
Hence "start by". Then make changes from there instead of writing them all from scratch.
People will still want to recover existing and older PG releases, so recovery.conf documentation is still useful.

[2019-03-05 20:32] cjhubert opened #201 "WAL-E metadata not cleaned up on delete"
It appears that the delete command will clean up old WAL-E backups in S3 but leaves behind the `extended_version.txt` metadata file alone.

You can see the file in the WAL-E backup I uploaded in issue 172 (Didn't link it since I wanted to avoid the auto-reference github does), but the file in question has a path similar to `basebackups_005/base_000000010000000000000002_00000040/extended_version.tx

[2019-03-11 09:53] Tinsane opened #206 "Appropriate help message"
The current help messages are not very informative. To fix that we can just fill all cobra's default fields with appropriate content.

[2019-03-11 17:17] fayak commented on #87
bump

[2019-03-11 17:18] x4m commented on #87
@fayak Hi!
That's already how it works now

[2019-03-11 18:30] fayak commented on #87
@x4m Sorry mate ! I'm using kubedb and it seems that they haven't updated wall-g since a long time !
Sorry for the bother

[2019-03-11 20:04] carolfly86 opened #208 "latest release 0.1.16 does not support GCS?"
Hi, we were using pre-release version 0.2.3 to backup to GCS and tried to upgrade to the latest release 0.1.16. The 0.1.16 version throws error
[code]

[2019-03-11 21:19] carolfly86 commented on #208
seems like GCS support only available after 0.2.1. May I ask when will a stable version containing GCS support be released?

[2019-03-12 06:09] x4m commented on #208
Hi!
v 0.2 will be released on 3th of April on no critical bugs found.
I understand that this is quite a big amount of time to wait. But we have to be precautious about releases.

[2019-03-12 19:00] x4m commented on #87
@fayak version acquisition was actually broken in the last commit, thanks! We never released the broken version though.

[2019-03-13 14:50] thda commented on #192
Started working on this, hopefully it will fit in your goals.

[2019-03-13 17:43] x4m commented on #192
Yes, sure, this feature looks quite usable! Thanks for working on this.

One thing that may be of interest: in S3 we have parallel uploads, other storages do not have this. If you have some ideas on how to implement parallel uploads for scp - it would be cool too.

[2019-03-19 10:51] femaref opened #210 "DecryptAndDecompressTar: decrypt failed: openpgp: incorrect key"
Sometimes I'm getting the above error using `wal-g backup-fetch`, using a pgp key with passphrase. The passphrase is correct, and the backup works as well. I've added a debug statement to see which file it fails on:

[code]

On larger backups it fails on multiple archives. I've downloaded the offending file and it decrypts just fine using `gpg`. I've traced the error to https://github.com/wal-g/wa

[2019-03-19 21:55] pohzipohzi commented on #206
@Tinsane can I check if there's any work done for this? If not can I take this up?

[2019-03-20 12:42] femaref commented on #210
I've narrowed it down to a race condition on `crypter.SecretKey`.

https://github.com/wal-g/wal-g/blob/39d192d1141c45ebefa5daada546379db75b4129/internal/open_pgp_crypter.go#L147-L188

as the loading/decrypting is concurrent, multiple routines will and write to the `crypter.SecretKey` variable. Two options:

1. keep the behaviour roughly the same, as in, decrypt on the first use, but protect with a

[2019-03-20 14:48] femaref commented on #210
https://github.com/wal-g/wal-g/pull/213

[2019-03-25 09:57] femaref opened #216 "home directory detection"
postgres calls the archive/restore command with a very limited env, notably, `$PATH` and `$HOME` are missing. As such, the home dir detection of `github.com/mitchellh/go-homedir` fails, as it can't find `getent`.

There is a fix for that (https://github.com/mitchellh/go-homedir/issues/18) but that's on in the v1.1.0 release.

Looking for the code, there are two other places where the homedir is us

[2019-03-26 07:47] brouberol opened #222 "wal-g wal-push can deadlock when WALG_UPLOAD_CONCURRENCY is higher than 1"
Affected version: `v0.1.12`

This bug does not manifest itself at every run, but creeps up every so often in production. When running wal-g with `WALG_UPLOAD_CONCURRENCY=8`, we're seeing a blocked `wal-g wal-push` process.

Sending a `SIGHUP` signal displays the following goroutine stacktraces

[code]

It seems we're blocked acquiring a mutex that might not have been properly released.

For refere

[2019-03-26 08:14] x4m commented on #222
Thanks for reporting! These stacks are very helpful, I'll review this and provide more information.

BTW, v0.1.12 has some other bugs since that prerelease, current release for branch 0.1 is v0.1.16

[2019-03-26 08:22] x4m commented on #222
Yes, there is deadlock and it seems like current versions are still affected. Working on fix.

[2019-03-26 08:24] brouberol commented on #222
Thanks for reaching back so quickly! Let me know if there's anything I can do to help.

[2019-03-27 08:49] x4m commented on #222
@brouberol can I ask you to try #223 ?
I can create draft release forked from any version for test purposes.

[2019-03-27 09:06] x4m commented on #222
We never encountered the problem, because we used external timeout as atavism from WAL-E usage. But eventually, we should get rid of it.

[2019-03-27 16:04] Aevin1387 commented on #222
@x4m If you generate a draft release from v0.1.16, we'd definitely be able to put it in place on the system we are seeing this issue in. We've seen it twice in the past two weeks and a potential fix would be helpful.

[2019-03-27 16:43] x4m commented on #222
@Aevin1387 https://github.com/wal-g/wal-g/releases/tag/v0.1.17

[2019-03-28 07:55] johannesluedke opened #224 "wal-g gets killed by CentOS OOM Killer during backup-push"
On a server with limited RAM and CentOS, wal-g gets killed by CentOS OOM killer. For the database as such, 512MB of RAM is enough for our operation. I had to increase this now in order to make backups work (backup size on AWS is ~570 MB), but I don't think that this is the way this is supposed to work: Necessary RAM/CPU size of server should be defined from normal operations, not from backup. Mayb

[2019-03-28 08:08] x4m commented on #74
@tamalsaha @aerokite @diptadas
There is a problem with Azure support: Azure blob supports only 256Mb files. WAL-G files try to contain no more than 1Gb, but theoretically can be bigger. What can we do with this?
plz see https://postgresteam.slack.com/archives/CA25P48P2/p1553025111025400

[2019-03-28 08:17] Tinsane commented on #128
Problem [line update](https://github.com/wal-g/wal-g/blob/master/internal/storages/s3/session.go#L45)

[2019-03-28 08:25] Tinsane commented on #168
As this problem is a duplicate of #127, then we close it.

[2019-03-28 08:25] #168 closed

[2019-03-28 08:26] tamalsaha commented on #74
@x4m , according to https://docs.microsoft.com/en-us/rest/api/storageservices/understanding-block-blobs--append-blobs--and-page-blobs#about-block-blobs

[code]

So, looks like this can work. But do we need to change any api call?

cc: @iamrz1

[2019-03-28 08:31] #191 closed

[2019-03-28 08:36] tamalsaha commented on #74
@x4m , we need to use StageBlock and CommitBlockList apis to handle larger blocks
https://github.com/Azure/azure-storage-blob-go/blob/457680cc0804810f6d02958481e0ffdda51d5c60/azblob/zt_examples_test.go#L674

[2019-03-28 08:36] Tinsane commented on #201
@g0djan, what do you think about this issue, as long as you are refactoring delete handler now?

[2019-03-28 08:38] #208 closed

[2019-03-28 08:43] Tinsane commented on #210
Thank you for your contribution!
One more thing: could you add your contacts to CONTRIBUTORS list?

[2019-03-28 09:01] g0djan commented on #201
After refactoring delete command, it will delete all files in this folder if sentinel file of this backup will be recognized as old enough.

[2019-03-28 09:03] x4m commented on #224
Hi!
RAM is used for buffers between data transformations.
The pipeline is Disk->Tar->Compression->Encryption->Network.

If something on the left works faster than something on the right - you can observe data accumulation in RAM. In my experience, this accumulation never exceeded 370Mb per one disk reader. The easiest thing that you can do with this - 1. reduce disk concurrency if you use multiple

[2019-03-28 09:11] johannesluedke commented on #224
I did not set `WALG_UPLOAD_DISK_CONCURRENCY`, so this defaults to `1`, right? As for the disk rate, which value would you think could work for `WALG_DISK_RATE_LIMIT`?

When thinking about having to add a WALG_DISK_RATE_LIMIT to my config, I'm thinking it would be nice if the backup tool, wal-g, took care of finding good values by itself (only in the case when they are not configured explicitely by

[2019-03-28 10:45] x4m commented on #224
Yeah, you are 100% right. I'm certainly sure that not every PostgreSQL instance is 4Gb+.

Current logic for handling slow network is very RAM-expensive, we should do something about it.

Also, consider using brotli, it will reduce network usage significantly, thus reducing RAM usage.

[2019-03-28 10:46] x4m commented on #224
WALG_DISK_RATE_LIMIT is in bytes per second.
Set it to the expected speed of your network connection.

[2019-03-28 11:35] tamalsaha commented on #74
@x4m , I think the `PutObject` for Azure should be modified like below:

[code]

`PutObject(name string, content io.Reader)` only gets an io.Reader. So, the question is how do we get the total size and also, how can we chunk the actual file? This might need some change in the method signature.

[2019-03-28 12:06] x4m commented on #74
@tamalsaha
blob size is certainly more than 256 Mb, we do not need optimization tars less than 256 Mb.
AWS SDK is partitioning reader into 20Mb chunks automatically.
Ideally, I think Azure should do the same, for up to WALG_UPLOAD_CONCURRENCY chunks.
But until the parallel upload is requested it is OK to just upload serially.

[2019-03-31 21:59] qwertys-ru opened #227 "Segfault on backup push"
Trying to push backup of database to S3. WAL-G always crashes on pushing:

[code]

Using wal-g 0.2.7 inside minikube.

Please let me know if I have to provide any other information.

[2019-04-01 05:50] x4m commented on #227
Hi!
Thanks for report!
Essentially this is #120

[2019-04-01 08:51] tamalsaha commented on #74
@iamrz1, let's look into this.

[2019-04-02 05:21] pohzipohzi opened #229 "Unit tests in separate folder?"
With the exception of a few packages in `internal`, is there a reason why most unit tests currently reside in a folder `test`?

I think it may be more appropriate for tests to be beside the file that they are testing. One important reason is so that we can get package level coverage when we run tests, using Go's `coverprofile` tool. Another reason is to support white box testing - there are many u

[2019-04-02 18:03] kel00s opened #230 "Purging all WALS durig delete operation version 0.2.4"
Hi all,

We started using wal-g for doing backup and restoring postgres into GCP. During the first step it removing all wal files within bucket. Below is my simple script.

[code]

[2019-04-02 18:17] kel00s commented on #230
Update: I verified the same with v0.2.7

[2019-04-03 05:23] x4m commented on #230
@g0djan as long as you are refactoring deletes now, can you please look into this? seems quite critical..

[2019-04-03 08:06] x4m commented on #230
I do not observe this behaviour on our installation.
Can you plz try this with WALG_LOG_LEVEL=DEVEL and provide output?

[2019-04-03 09:13] CyberDem0n commented on #230
I also can't reproduce removal of all WALs from backup, but it looks like I've found another issue with 0.2.7:
[code]

[code]

`00000022000000020000004D` is required for `base_00000022000000020000004D_00000040` but it was deleted, therefore `base_00000022000000020000004D_00000040` become useless :(

[2019-04-03 09:20] CyberDem0n commented on #230
And one more addition:
`base_00000022000000020000004B_00000040/extended_version.txt` wasn't deleted.

[2019-04-03 09:36] kel00s commented on #230
Thanks,

Here are the debug log:

[wal-g-backup.log.gz](https://github.com/wal-g/wal-g/files/3037906/wal-g-backup.log.gz)

backup-list after backup-push
[code]

[code]

[2019-04-03 09:43] CyberDem0n commented on #230
@kel00s,

I think it would be more important to see the logs of `wal-g delete retain FULL ...`, because `backup-push` doesn't delete anything.

[2019-04-03 10:10] kel00s commented on #230
@CyberDem0n : sorry, not the right file.

[wal-g-delete.log.gz](https://github.com/wal-g/wal-g/files/3038090/wal-g-delete.log.gz)

[code]

[code]

[2019-04-03 17:47] x4m commented on #230
It seems like it is a bug of GCS folder, it lists WALs with leading '/' when wals folder is in bucket root. I`m going to diagnose it better and fix tomorrow (UTC+5). Thanks for the report!

[2019-04-03 19:20] g0djan commented on #230
@CyberDem0n problem with "delete before" appears because parser fetches LSN from the backup name as "00000022000000020000004D_00000040" and it's bigger than "00000022000000020000004D" in wal-file.
Right now only 2 variants of naming backup are expected for parser:
- base_LSN
- base_LSN1_D_LSN2.
I'll look at this tomorrow(UTC +5) more detailed.

[2019-04-04 08:46] g0djan commented on #230
Fix for issue with "delete before"  was merged. Problem with `extended_version.txt` is known https://github.com/wal-g/wal-g/issues/201 and will be fixed with ending of refactoring delete handler.

[2019-04-04 09:23] x4m commented on #222
@Aevin1387 @brouberol any news? Does this work as expected?

[2019-04-05 12:09] x4m commented on #230
@kel00s please try latest pre-release, this problem should be fixed

[2019-04-06 00:39] Aevin1387 commented on #222
@x4m It took a while for it to re-appear, but I can confirm that this fixes the race condition we were seeing.

[2019-04-08 08:20] x4m commented on #230
I'll close issue, on any sights of reappear - please ping me or repoen

[2019-04-08 08:20] #230 closed

[2019-04-08 08:21] #227 closed

[2019-04-08 08:22] x4m commented on #222
I'll close this, looks like fixed. Please report on any suspicious events from WAL-G.

[2019-04-08 08:22] #222 closed

[2019-04-08 08:36] g0djan commented on #201
I finished refactoring of delete handler where solve your problem too. You may use it if you clone the latest version of repo and build it. But it hasn't been released yet.

[2019-04-08 15:40] kravietz opened #237 "Support SCRAM-SHA-256 authentication"
When the server is using `SCRAM-SHA-256` (now officially recommended starting from PostgreSQL 10) `wal-g` throws the following error message:

[code]

[2019-04-08 16:08] kravietz commented on #237
Ok, I now see it's an actually issue with the underlying library - if anyone else comes here from DuckDuckGo can you please upvote https://github.com/jackc/pgx/issues/451

[2019-04-10 05:53] tamalsaha commented on #74
Note:
Uploader from aws sdk: https://github.com/aws/aws-sdk-go/blob/master/service/s3/s3manager/upload.go#L360:20

[2019-04-16 19:40] jeremymv2 opened #246 "Role based IAM"
For enhanced security, it would be nice to use AWS Roles as `wal-e` supports: https://github.com/wal-e/wal-e/pull/87

[2019-04-17 07:32] atimonin opened #247 "QueryRunner StopBackup: stop backup failed: EOF"
I've got after one successful backup-push this error:
[code]
After this wal-push was throttled and pg_xlog fills all the free space
The successful previous backup:
[code]
wal-g version:
wal-g -vv
v0.2.7 	 6202d06 	 2019.03.06_06:29:19

system:
uname -a
Linux stg-psql 4.4.0-128-generic #154-Ubuntu SMP Fri May 25 14:15:18 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

postgres:
PostgreSQL 9.6.3 on x86_64-

[2019-04-17 08:05] atimonin commented on #247
Update:
backups are pused to private s3-like (ceph rados-gw)
wal-g settings
[code]

[2019-04-17 10:19] atimonin commented on #247
sorry, this is from postgresql log:
[code]

[2019-04-17 18:35] jeremymv2 commented on #246
More details here: https://github.com/wal-e/wal-e#using-aws-iam-instance-profiles

[2019-04-17 18:36] jeremymv2 commented on #246
@x4m More details here: https://github.com/wal-e/wal-e#using-aws-iam-instance-profiles
Is that possible with wal-g?

[2019-04-18 05:55] x4m commented on #246
Hi! Yeah, that makes sense. BTW we have something similar in GCP and why not to enable this for S3...
This is not a coding issue but more of figuring out the correct interface...

[2019-04-22 08:37] x4m commented on #247
BTW, can you please try v0.2.8 or v0.2.9?
There was a bug #222 in v0.2.7, it is quite possible that this bug is triggering your problem

[2019-04-23 06:48] atimonin commented on #247
@x4m Thanks for fast and handy reply!
Unfortunately when I simply changed binary to v2.0.9 i hit next issue:
"exec: "getent": executable file not found in $PATH" - postgres is not supplying PATH environment to archive_command
Simply added one to env.

[2019-04-23 06:48] #247 closed

[2019-04-23 12:35] x4m commented on #247
Yes, this is a problem with PATH env... I do not know how to solve it better.
It seems that postgres is not giving PATH to us...

[2019-04-23 13:04] x4m commented on #216
Hi! Sorry for so long delay...
Yes, this go-home thing certainly  is a problem: usages should be unified. And if we really need go-homedir, it should be in gopkg.toml?

[2019-04-24 05:00] iamrz1 opened #250 "Add support for archiving to minio over SSL using custom CA"
Currently, wal-g doesn't support archiving to Minio using HTTPs endpoints. It will be nice to be able to use Minio servers secured with self-signed CA.

Regards,
Rezoan

[2019-05-03 20:58] hlakshmi opened #258 "Exception when doing backup-fetch to the dot directory"
Ran into the following issue when trying to fetch a backup to current directory (`.`)
[code]

[2019-05-06 08:02] x4m commented on #250
This is merged, right?

[2019-05-06 08:02] #250 closed

[2019-05-06 08:04] x4m commented on #237
pgx now supports SCRAM, I think we will update our pgx vendoring to v3.4.0 and this will be supported by WAL-G too.

[2019-05-06 08:06] x4m commented on #216
@femaref can you please send a PR with behavior that you think is optimal?
I mean to choose  between go-homedir and os/user.Current?

[2019-05-06 10:30] patsevanton opened #260 "Support for FS storages."
I read release notes v0.2.9.
`Support for S3, GCS, SWIFT, FS, and Azure storages.`
What is FS storages?
Thanks!

[2019-05-06 10:54] x4m commented on #260
Hello! Thanks for your interest in WAL-G
FS stands for ```file system```
This functionality is implemented mostly for tests: there is no sense in making a backup on the same filesystem where the database lives.

[2019-05-06 11:19] Tinsane commented on #260
Hello!
Actually, that's not all. One of the common use cases is to mount network storage to file system and backup to it using FS storage.

[2019-05-06 16:16] patsevanton commented on #260
Where i can see example use FS for wal-g? Wiki is empty.

[2019-05-06 16:26] x4m commented on #260
You can use WALG_FILE_PREFIX to specify a storage location.
BTW, yeah, documentation really is our weak side, any Pull Request enhancing documentation are very welcome. I would be great if we had a comprehensive page about WAL-G storages.

[2019-05-07 12:54] HeikoOnnebrink opened #265 "wal-g backup-push should return backup name in output"
In order to integrate wal-g into automated / scheduled workflows that allow automated restores the backup-push option should return at the end of the execution an INFO line that contains the name of the written backup set

INFO: 2019/05/07 08:30:57.445763 Walking ...
INFO: 2019/05/07 08:30:57.446003 Starting part 1 ...
INFO: 2019/05/07 08:30:59.622046 Finished writing part 1.
INFO: 2019/05/07 08:3

[2019-05-08 11:37] WilliamDurin opened #266 "wal-g hangs on push for gcs"
Hello,
I have an issue with WAL-G v0.2.9 hanging on pushes to GCS sometimes.

Today, I hopped on my box when disk alerts started going off. I took a look at my wal directory, and I saw a ton of transaction logs that shouldn't be there.

I took a look at ps, and saw that wal-g had been running for over 24 hours on a single wal-push operation

[code]

To recover, I killed the process. WAL-G fired up

[2019-05-10 08:11] dragomirr opened #267 "wal-g reading wrong config file"
When running wal-g it should be using `$HOME/.wal-g.yaml` as configuration file, as stated in help. Instead `$HOME/.walg.json` is used.
When running `wal-g --help`  this is output about config `--config string   config file (default is $HOME/.wal-g.yaml)`
Also when running wal-g it says it is using `$HOME/.wal-g.yaml` while actually does not read config file.
Link to code https://github.com/wal-g/

[2019-05-10 12:35] joeblew99 commented on #224
@x4m
I also have this issue. But compression was removed in a recent PR
https://github.com/wal-g/wal-g/commit/a88924d5016a6a40a8746e3d9e92e4940888f59b

Why ?

[2019-05-11 14:42] WillPlatnick commented on #266
Happened again yesterday and today.

[2019-05-12 08:29] x4m commented on #266
Hi, Will!
Sorry for the delay, it's a national holiday in Russia and I'm mostly afk.

What you describe sounds like a serious issue. Are you sure it is localized for GSC? And other factors do not play hidden role?

Can you dump goroutine stack traces (kill -ABRT usually does it)? With them at hand, we could track locks in a single heartbeat...

[2019-05-13 07:43] chobostar commented on #266
I met the same on wal-push to minio S3 with v0.2.9, but still don't investige deeply that issue. I just added `timeout 6` to wal-g call as temporary fix.

[2019-05-13 08:02] x4m commented on #266
Maybe we should implement "timeout mode" in wal-push?
So that WAL-G would coredump itself and send dump sentry?
I just wonder if such functionality is already provided by some lib..

[2019-05-13 09:14] HeikoOnnebrink commented on #265
@x4m
after my first go lang steps in your repo I have located the place where I need to add the required code

file internal/backup_push_handler.go
func HandleBackupPush
add to the end

[code]
maybe someone can take it from here ..
in the meantime I will learn how to create a pull-request ;-)

[2019-05-13 10:51] HeikoOnnebrink commented on #265
.. was easier than I thought .. added pull request #272

[2019-05-13 12:57] Tri0L opened #273 "--config not working"
[code]

[2019-05-13 13:20] Tri0L opened #274 "Properties not working from config file"
[code]

Time to time different errors:
[code]

[2019-05-14 10:06] x4m commented on #265
Fixed, thanks!

[2019-05-14 10:06] #265 closed

[2019-05-14 13:25] carrolcox opened #277 "File `base_*_backup_stop_sentinel.json` is missing information about `global/pg_control`"
File `base_*_backup_stop_sentinel.json` is missing information about `global/pg_control`.
Therefore, as I see, `wal-g backup-fetch` does not pick up an archive with this file from S3 bucket.

---

*wal-g*: v0.2.9
*postgresql*: v9.6.13
*S3*: AWS S3 bucket

[2019-05-14 13:51] carrolcox commented on #277
There is a part of `base_*_backup_stop_sentinel.json`:

[code]

[2019-05-15 08:15] chobostar opened #278 "the behavior implied by WALG_PREVENT_WAL_OVERWRITE doesn't work"
Hello.

I'm duplicating my email post as github issue.

`WALG_PREVENT_WAL_OVERWRITE`

Here is call of checking:
https://github.com/wal-g/wal-g/blob/master/internal/wal_push_handler.go#L52

https://github.com/wal-g/wal-g/blob/master/internal/wal_push_handler.go#L68
`checkWALOverwrite` method calls `downloadAndDecompressWALFile` with added file extension:

https://github.com/wal-g/wal-g/blob/master/

[2019-05-15 12:30] kel00s opened #280 "Could not link file during restore"
Hi team,

Could you help me with understand below issue? During restore process I see this message: "could not link file ...".

Thanks

[code]

[2019-05-15 18:27] carrolcox commented on #280
Hi!
Looks like your `backup_label` file was corrupted or there is placed at wrong path.

[2019-05-15 18:30] carrolcox commented on #277
I found how this file are unarchived.
My fail — wal backup maked from wrong base path. It should be equal `${PGDATA}`.

Thanks
PS: closing issue now.

[2019-05-15 18:30] #277 closed

[2019-05-16 05:37] x4m commented on #277
Sorry for the delay.
That pg_control thing is a feature - control file is restored last from separate tar, so that you do not run partially restored cluster.

[2019-05-18 04:20] x4m commented on #260
I'll close this, if you have some new questions and ideas please feel free to open\reopen.

[2019-05-18 04:20] #260 closed

[2019-05-21 14:21] WillPlatnick commented on #266
I haven't had time to go back and remove the timeout command and wait for a failure to happen to grab the stacktrace. Circumstantially, I get emails of the wal-g logs when it fails, and the only logs I'm getting are errors like below. But, since the timeout is there, I can't tell you if these errors are errors where it would have hung or not.

[code]

[2019-05-31 04:25] HeikoOnnebrink opened #297 "INFO and WARNING log output is written to STDERR"
When using wal-g inside some automation context after a successful execution we  would expect log and info output to be written to STDOUT. When some errors appear and exit code is != 0 we expect error message to be written to ERROUT. This is standard behaviour of apps.

WAL-G seems to write all log output to ERROUT not distinguishing between log types
https://github.com/wal-g/wal-g/blob/master/int

[2019-06-03 13:58] vmihailenco commented on #273
@x4m the problem seems to be that https://github.com/wal-g/wal-g/blob/master/internal/config.go#L113-L125 is called before viper is able to read anything in https://github.com/wal-g/wal-g/blob/master/main/configure.go#L29-L56

[2019-06-03 17:52] surprisetalk commented on #266
We are also experiencing this issue with GCS. When I manually kill the hanging process, everything resumes normally. We do not receive any errors in the Postgres logs.

[2019-06-03 18:10] southwel commented on #266
implementing timeout as part of the archive command seems like a viable workaround, but it would be great to have a better understanding of what causes the hang to begin with.

[2019-06-04 06:08] x4m commented on #266
@surprisetalk do you have logs of the killed process?
backtraces could shed light on what's going on...

[2019-06-04 06:10] x4m commented on #266
@southwel those retries are from backup-fetch. We were very distracted when fetches of 10Tb backup were interrupted by a 1-minute network outage. though not enough distracted to implement resumable backup fetches.

[2019-06-04 19:54] surprisetalk commented on #266
Nope. We receive `INFO` logs with `FILE PATH` every ~1 second when `archive_command` runs, and then we stop seeing the logs. No errors in the logs either (besides the `archive_command` failure notification from Postgres).
Would a `kill -3` be helpful for you?  What's the best way to generate a backtrace?

[2019-06-05 06:23] x4m commented on #266
Yes, kill -ABRT will generate backtraces for all goroutines

[2019-06-05 17:48] jstaf opened #300 "wal-g releases are incompatible with CentOS 6"
Because wal-g uses C/C++ extensions (namely the brotli library), it is dependent on the version of glibc where the binary is built. The current build environment makes wal-g incompatible with older OS versions running on many database servers, like CentOS 6 (this is probably true for older Ubuntu and Debian versions, but I haven't tested those).

[code]

To resolve this, you should either provide

[2019-06-05 21:31] kvijay460 commented on #266
I had the same issue using wal-g.
So I've made a cron job to check those kind of processes to kill them and re-run basebackup and wal-push.

[2019-06-06 05:02] x4m commented on #300
Thanks for reporting this! I will think about how to make releases better...
We can make brotli optional like lzo is now... but then we will have to ship lzo,br,lzo+br, that's not good...
Or we can make releases on CentOS too...

[2019-06-06 05:42] x4m commented on #266
@kvijay460 did you actually observe this with basebackup?
Can you add some diagnostics to your cron so that we could trace and fix this? I think that all is necessary is a backtrace of goroutines.

[2019-06-07 01:26] surprisetalk commented on #266
SIGABRT: abort
PC=0x913751 m=0 sigcode=0

goroutine 0 [idle]:
runtime.futex(0x2107a00, 0x80, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, 0x7ffc32c4dfd0, 0x8c3922, ...)
        /home/travis/.gimme/versions/go1.11.9.linux.amd64/src/runtime/sys_linux_amd64.s:531 +0x21
runtime.futexsleep(0x2107a00, 0x7ffc00000000, 0xffffffffffffffff)
        /home/travis/.gimme/versions/go1.11.9.linux.amd64/src/runtime/os_linux.go:

[2019-06-07 05:10] x4m commented on #266
Many thanks @surprisetalk  !

Here is the last call by WAL-G code
[code]
I think I should report it to GCS...

[2019-06-07 09:18] x4m commented on #266
It seems that GSC can hang by design. I think we should cancel any GSC operation that did not succeed in 30 minutes... We will have no reason why it handed, but currently, I do not see another workaround.

[2019-06-07 14:01] jstaf commented on #300
I think the simplest resolution would be to just build releases on something with an older version of glibc. Any older OS should work for this, CentOS 6 is just one example. Let me see if I can dig up what docker image I used to do the build when I get home (created the Dockerfile as a one-off to test things out).

Regarding lzo+brotli, after second thought I'd almost just include both in every re

[2019-06-07 19:32] surprisetalk commented on #266
I think you can post the issue here: https://github.com/googleapis/google-cloud-go/issues

[2019-06-07 19:42] surprisetalk commented on #266
*Actually* I just stumbled upon a timeout option in the [GCS docs](https://godoc.org/cloud.google.com/go/storage#example-Writer-Write-Timeout):
[code]

It looks like adding a `context.WithTimeout(...)` might help?

[2019-06-08 04:05] x4m commented on #266
Yeah, that's what we will use as a workaround.
But if you are uploading backup via dialup modem it will not work: it is absolutely ok for the network to be slow, but we have this timeout for the whole operation. We will have to use a big timeout, like an hour, to avoid false failures.

[2019-06-12 10:46] femaref opened #309 "WALG_UPLOAD_CONCURRENCY > 0: unable to use in scripts due to BG Uploader"
When using the BG Uploader, wal-g automatically renames `.ready` to `.done` in the `archive_status`. While this is fine when using wal-g standalone, you can't use it in scripts. I'm using a script as I need the wal files to feed a hot standby but also want to archive them to s3 via walg.

This behaviour should be prominently displayed in the docs (i.e. if you use wal-g in a script, make sure to se

[2019-06-12 16:39] x4m commented on #309
This is true. I want to do this in #127
But still, have not enough resources to do it...

[2019-06-18 17:41] surprisetalk commented on #266
Has there any been any progress on this issue? Is there anything I can do to help?

`wal-g backup-push` only completes ~50% of the time on our servers.

[2019-06-19 08:54] x4m commented on #266
@surprisetalk can you please review and maybe event test #312 ?

[2019-06-26 16:46] surprisetalk commented on #266
[code]

Unfortunately, even building from your development branch, the problem is still occuring. In the snippet above, a full 24 minutes pass before `timeout` catches it.

[2019-07-02 10:50] CyberDem0n opened #319 "Wal-g 0.2.9 crashes when deleting old backups"
[code]

[2019-07-03 06:43] g0djan commented on #319
Thanks, it's known bug. It is already fixed and will be added to new release.

[2019-07-03 06:43] #319 closed

[2019-07-03 06:49] x4m commented on #319
So, let's make a pre-release with fixes?
@g0djan can you please send me a list of known fixes so that I could cut a release?

Also, maybe we should add it to integration tests?

[2019-07-05 15:41] dragonsmith opened #320 "WALG_PGP_KEY support is broken"
Hello!

wal-g expects ASCII-armored pgp key which is a multiline file. I may be wrong but I do not recall a way to assign a multiline env var without losing line breaks which are crucial for `openpgp/armor` Decode function.

The only option to assign a pgp pub key to the `WALG_PGP_KEY` variable I see is to concatenate a key using `\n`-s and pass it as a single string, but it does not work:

I have

[2019-07-08 05:33] g0djan commented on #320
Hello, this variable works.
You can put it in a file and use with envdir like this:
envdir pgp_key_file wal-g backup-fetch
If you want to write WALG_PGP_KEY from terminal with all newlines, you can use something like this https://stackoverflow.com/questions/2500436/how-does-cat-eof-work-in-bash

Are you try to write WALG_PGP_KEY from terminal with \n?(Would it be easier to generate it and put in a

[2019-07-08 08:32] dragonsmith commented on #320
@g0djan Hello!
Thank you very much for a fast answer!

In my case I actually use `envdir` like you showed and I generate the env file with the key by Chef. Still, it doesn't help. Here is an example of what I mean:

[code]

Here is what is written inside envdir's man page:

I've tried to write `\0` instead of `\n` but it did not help too:

[code]

Maybe I'm not getting what they mean by `nulls`.

[2019-07-08 09:53] SuperQ opened #323 "Metrics endpoint"
We (GitLab) have a reasonably large database set (~3TB) that takes a while (4+ hours) to backup with wal-e. We would like to use wal-g, so it would be useful for us to have a Prometheus metrics monitoring endpoint in order to track the status of backups as they run.

We're willing to contribute this code if it would be accepted.

[2019-07-08 10:50] x4m commented on #323
Hi! That's very cool!
After review, with tests and docs, it will be happily accepted!

[2019-07-08 14:09] SuperQ commented on #300
You should be able to build the binaries statically, this would avoid the cross-distro library issues.

[2019-07-11 11:13] SuperQ commented on #323
One question about configuration. We need to listen on a port for metrics requests. Would it be OK to configure one by default and always try to listen? Or should this be off by default?

[2019-07-11 11:41] x4m commented on #323
wal-g process life is short, spontaneous and dictated by PostgreSQL archive design. You can create "demonize" command for opening tcp port. I've done so in the prototype of "backup-serve" - command to send wal-g backup to pg_basebackup
See
https://github.com/x4m/wal-g/blob/6e9d0d9491606b3cc3f50a7e1121b6430cadb1a3/internal/backup_fetch_handler.go#L170
https://github.com/x4m/wal-g/blob/6e9d0d9491606

[2019-07-11 12:15] SuperQ commented on #323
"short lived" for us will probably still be many hours for us, as our backup push will be large.

[2019-07-11 12:27] x4m commented on #323
I think, eventually, we want to monitor the speed of archival, restoration, the effectiveness of prefetch etc. Also, there may be many PG instances on the same machine.
In our environment, WAL-G can do backups on different hosts: most underutilized replica first, unless it is too lagging.
And we want WAL-G stats from all hosts that possibly use WAL-G.
I'm mostly bothered about unsuccessful restore

[2019-07-11 12:29] x4m commented on #323
There is a feature - prefault during WAL apply. I still do not have statistically meaningful data - does this feature actually make sense. I'd setup Prometheus just to see some nice charts about it...

[2019-07-11 13:11] SuperQ commented on #323
Thanks, I do need to understand the various design considerations in order to build this properly.

[2019-07-11 13:36] x4m commented on #320
@savichev-igor Hi, Igor! Did you try to use ```WALG_PGP_KEY```? Is it possible to pass multiline value there?

BTW, you always can use config file. But if env vars are so important - maybe we could support newline escaping in ```WALG_PGP_KEY```

[2019-07-11 13:39] x4m commented on #320
This code looks good https://github.com/dragonsmith/wal-g/commit/873132cab91a58d7ce2fd7ed54ef09367d79a309
But we should do escaping only for keys read from env var. Also, we need a test that checks that escape is not broken.
Besides these points, I do not see a reason why not to merge this change, if submitted as PR.

[2019-07-12 15:25] SuperQ commented on #323
Thinking about this more, I'm actually interested in this wal-g long-lived service. It would be very interesting to have a service that spawns backup go routines via API requests.

[2019-07-14 00:49] houmamwazzeh commented on #247
I am facing the same issue. My workaround is to create a custom shell script to set in `archive_command`:

**custom-walg.sh**
[code]

**postgres.conf**
[code]

But I wonder if there is a better fix to this issue 🤔

[2019-07-15 09:42] savichev-igor commented on #320
Hi @dragonsmith and @x4m!

I did not check multiline ENV variables and did check only with `WALG_PGP_KEY_PATH` / config file.

You can try set `WALG_PGP_KEY` with `export WALG_PGP_KEY=`cat KEY_FILE`, i think it should work.

If it's bad variant for you, so maybe need to try use smart escaping as suggested above :<

Sorry for late response and my omission in implementation.

[2019-07-15 12:02] RajKiranS commented on #192
Yes, this is indeed a quite useful feature for those who do not want to upload to cloud.

I am very much interested in this. When can I expect this feature?

Thanks for your work here!

[2019-07-16 08:02] nicholasklem opened #333 "wal-g failing on some wal files"
I tried migrating from wal-e to wal-g in staging.

Every time I start up with wal-g as archive_command 1 file is not uploading:

postgresql.conf:
[code]
logs:
[code]
WAL archives before and after this will upload fine. This specific file ...42 does not succeed even after 24 hours, this error message will just repeat.

A manual run of the command will succeed, but postgresql will still try to uploa

[2019-07-16 18:51] x4m commented on #333
Hi! Thanks for the report!

Can you please do the same thing with WALG_LOG_LEVEL=DEVEL?

[2019-07-17 09:28] nicholasklem commented on #333
Urk. After redirecting output to a logfile I got:

Added /etc/wal-g/env/PATH:
/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/sbin:/usr/local/bin

and it works!

Greetings
Nicholas

[2019-07-17 15:28] x4m commented on #333
Errr, sorry for this, we will fix that getent thing in next release.
It's known bug. We did not make prerelease with this and many other fixes due to unfinished features in master branch.

[2019-07-17 15:29] x4m commented on #333
I'll close this for now, if you will observe reproduction in next releases please reopen.

[2019-07-17 15:29] #333 closed

[2019-07-17 15:30] x4m commented on #323
Actually, sounds scary. WAL-G was not meant to be backdoor. Can we separate this logic of remote controlling from publishing metrics and discuss in other issue?

[2019-07-22 10:08] pinakesh opened #338 "Backup from Standby Server"
Hi Team,

Please can you let me know if it is possible to take backup from Standby Server and if it is possible then can you please provide the configuration steps to achieve this?

Regards,
Pinakesh

[2019-07-22 10:21] x4m commented on #338
Hi @pinakesh !
If you are using PostgreSQL 9.6+ there is no difference between taking a backup from primary or standby.

[2019-07-22 10:21] #338 closed

[2019-07-22 12:32] pinakesh commented on #338
Hi x4m,

Hope you are doing well.

Many thanks for responding, I tried backing up from standby just like primary and it is working fine.

Just needed to clear up a few more things?

1> In case we want to setup a transparent switchover/failover i.e. without any need to change configurations, would it be possible with wal-g?...I mean we can use the same config in both primary and standby but in that

[2019-07-22 12:59] x4m commented on #338
At Yandex our clusters each night are voting who of replicas will be doing backup. Preferred async replica with minimal lag. Otherwise, sync replica, if there is none - primary.
Backup on replica will fail in case of standby promotion or replication source promotion.
The backup will fail in case of long network outage, disk malfunction etc.
All garbage will be kept according to usual retention pol

[2019-07-23 16:35] dragonsmith commented on #320
Hey @savichev-igor @x4m !

I've added some tests, README and made a PR.

TravisCI tests are taking too long and fail due to the time limit for a separate task. I will try to run them locally today and will post an update.

[2019-07-23 17:11] vbratkev opened #343 "Troubel with go get"
When I tried to go get github.com/wal-g/wal-g from step https://github.com/wal-g/wal-g/blob/master/PostgreSQL.md#installing then there was error(official docker image for building)

[code]

[2019-07-24 08:58] g0djan commented on #343
Hi, I get this message too. But actually, go files are there and you can try to build it. It looks like a strange behavior of "go get". Reply if build works, please

[2019-07-25 05:53] pinakesh opened #346 "wal-g usage for backup repo server and cluster cloning"
Hi Team,

I have below three queries on wal-g usage, kindly suggest.

1> Is using a centralized backup repository server possible with wal-g? i.e. taking backup (from standby server) using a remote server.

2> Is it possible to clone a cluster using backup files and archived wall files till the latest committed transaction? i.e. cloning a cluster using latest backup files and archived wals (create

[2019-07-25 07:09] x4m commented on #346
Hi!
1. No, WAL-G lives on the same machine as PostgreSQL. However, you can have a centralized storage system, but this will be a single point of failure.
2. Nope, the backup will be restored only to latest archived WAL segment (16Mb of logs). If you want "latest committed transaction" at the moment of opening copy for queries - you should use promotion of synchronous standby. Otherwise, you will n

[2019-07-25 07:09] #346 closed

[2019-07-25 07:11] #320 closed

[2019-07-26 09:59] ilicmilan opened #354 "wal-g wal-push always overwrites WAL with the same name"
**Version**
[code]
**Expected Behavior**
`wal-push` command should return non-zero exit code, as stated in the Documentation for `WALG_PREVENT_WAL_OVERWRITE`
[code]
**Actual Behavior**
`wal-push` always overwrites existing WAL file returning zero exit code.
Even if both files have the same content (Modified time will be changed).

**Steps to Reproduce**
[code]

[code]

[2019-07-27 12:46] vbratkev commented on #343
Yep. Build works fine as steps:

[code]

[2019-07-27 12:47] #343 closed

[2019-07-29 06:32] x4m commented on #354
Hi! Thanks for the report!
Yes, this is a bug, we need to fix it.
Also there's #278

[2019-07-29 08:47] wopincm opened #356 "My ceph does not enable server encryption, and WALG_S3_SSE prevents me from backing up"
ERROR: 2019/07/29 07:51:00.486673 failed to upload 'spilo/pg-1/wal/basebackups_005/base_00000004000000000000000A/tar_partitions/part_001.tar.lz4' to bucket 'db-backup': InvalidArgument: Server Side Encryption with KMS managed key requires HTTP header x-amz-server-side-encryption : aws:kms
	status code: 400, request id: tx0000000000000000040f0-005d3ea508-f042e-default, host id:
ERROR: 2019/07/29 07

[2019-07-29 08:53] x4m commented on #356
Hi! Thanks for the report!
Can you please tell me more about your problem? Was it working and not something happened? Or are you trying to introduce WAL-G and encounter this problem?

Also, I know one KMS specialist. @bn0ir is this kind of problem you fixed?

[2019-07-29 10:46] wopincm commented on #356
@x4m I am experiencing this problem while using WAL-G, it makes me unable to backup my postgresql
My ceph does not enable server-side encryption. WALG_S3_SSE requires my ceph server to be encrypted to be able to back up my postgresql. I can't close the WALG_S3_SSE function.

[2019-07-29 10:53] x4m commented on #356
Which version of WAL-G are you using?

[2019-07-29 10:54] bn0ir commented on #356
Hello,
@wopincm if you don't want to enable SSE you can simply unset env variable WALG_S3_SSE (or don't set it in first place)

[2019-07-30 01:45] wopincm commented on #356
Thank you for your help. I have solved the problem @x4m @bn0ir

[2019-07-30 01:45] #356 closed

[2019-07-30 13:58] benjamin-thomas opened #358 "wal-g delete (before|retain)* hangs indefinitely"
OS=Ubuntu 18.04
    wal-g version v0.2.9    5bf0fcf 2019.04.22_06:20:09
    backend=openstack swift

The following commands keep hanging for me (+30 minutes)
[code]

These commands returns immediatly
[code]

Those commands (without --confirm) run fine too :

[code]

Is there anyway to enable some kind of debug output, to see what's going on ? Any ideas ?

I'm barely getting familiar with archiving

[2019-07-30 17:08] x4m commented on #358
Hi! Please, repeat tour command with WALG_LOG_LEVEL=DEVEL

[2019-07-31 06:35] x4m commented on #309
@reshke Is this task currently done?

[2019-07-31 06:38] reshke commented on #309
@x4m yes its https://github.com/wal-g/wal-g/commit/e6c85a5740af84ee6658004fb5d249eb458ad3fb

[2019-07-31 06:49] #309 closed

[2019-07-31 06:49] #127 closed

[2019-07-31 06:51] x4m commented on #280
Hi @kel00s ! Did you manage to resolve the issue? Are roots of the issue related to WAL-G ?

[2019-07-31 06:51] x4m commented on #216
Should be fixed now, please reopen if this will reappear in 0.2.10

[2019-07-31 06:51] #216 closed

[2019-07-31 08:39] x4m commented on #165
As far as I remember, this was fixed in v0.2.9. Please reopen if reappear.

[2019-07-31 08:39] #165 closed

[2019-07-31 14:30] benjamin-thomas commented on #358
I could not reproduce this "bug" today.

Meanwhile, I manually emptied the underlying "openstack container" (equivalent of an s3 bucket).

Whereas yesterday I had 20 or so basebackups, I recreated 15 today for testing purposes and my 12 of those got deleted in 7 minutes.

    time WALG_LOG_LEVEL=DEVEL envdir ~/.envdir/wal-g/ wal-g delete retain FULL 3 --confirm &>>/tmp/delete_log

Tbh I suspect so

[2019-08-01 14:30] benjamin-thomas commented on #358
Could be related? Inspecting my cronjob's log for a `backup-push` operation I see **1 hour** between 2 consecutive log lines, and some kind of HTTP timeout.

[code]

I'm not familiar with the details of the openstack/swift protocol, and can only guess it sits on top of HTTP.

That timeout does not seem to be systematically problematic:

[code]

Do you feel something could be wrong on `wal-g`'s sid

[2019-08-02 07:28] nico1106 commented on #319
I have the same problem. No backups and WAL-Files are deleted. Is there already a new version out there?

[2019-08-02 08:17] x4m commented on #319
@nico1106 yes, there is prerelease fix this issue fixed 0.2.10

[2019-08-02 08:43] benjamin-thomas commented on #358
[code]

I encountered this "bug" again, I controlled-c out of a manual `backup-push` process, after being "stuck" for 18 hours:

    time envdir ~/.envdir/wal-g/ wal-g backup-push /var/lib/postgresql/10/main/

I'll reporting with verbose logging next time.

[2019-08-02 09:08] x4m commented on #358
it seems like you were doing backup-push? probably it is wating for archival
look into pg logs

[2019-08-02 09:20] benjamin-thomas commented on #320
Could you please document how to export a given key to an env var, in the format required by `wal-g`?

None of the following work (I get the error message `upload: encryption error openpgp: invalid argument: no armored data found`)

[code]

https://github.com/wal-g/wal-g/blob/master/PostgreSQL.md

I used `WALG_GPG_KEY_ID` for now, which seems more useful to me, but marked "deprecated".

[2019-08-02 11:42] benjamin-thomas commented on #358
Damn, I'm so sorry. I initially thought I hit a similar bug with `backup-push`, and thought it could be some kind of network handling issue, but was in fact totally unrelated.

I was playing with some (wrong) parameters just before the end of that manual backup-push and got confused, so please disregard my latest comment. (my latest error did affect WAL archiving on pg's side)

I'm still puzzled b

[2019-08-02 12:06] x4m commented on #358
Thanks! Waiting for details

[2019-08-03 17:28] x4m opened #363 "Catchup from delta-backup"
I'll create an issue for this, hope one day we will implement it. Does not seem a big chunk of work and testing. Though I expect only hard-boiled DBA want something like this.

Currently, delta backups are applied on top of other backups. Either base backup or other delta backup.
Delta backup Y from backup X contains all blocks changed since the start of backups X. Also, Y will contain all files W

[2019-08-05 05:04] nicodimi opened #364 "Warn user if backup-push is invoked for non-compatible PostgreSQL"
Hi,

after upgrade to the new pre-release version v.0.2.10a because of the issue with deleting old backups #319, I got the following issue while executing our postgres_backup script in order to delete the old backupy after X days and to create a new base backup.

`2019-08-05 05:02:29.436 - /postgres_backup.sh - producing a new backup
INFO: 2019/08/05 05:02:29.454910 Doing full backup.
INFO: 2019/0

[2019-08-05 07:45] x4m commented on #364
Yeah, we should check that what you backup is PostgreSQL before doing work...

[2019-08-05 07:59] x4m commented on #364
WAL-G should:
1. Refuse to do backup-push of the folder without base/pg_contol file
2. Refuse to do backup-push without PGVERSION
3. Warn user, if PGVERSION contain something except 9.5,9.6,10,11 or *devel (do not warn devs - they are free to shout at their feet)

The test should try backup-push of the empty folder and fail.

@munakoiso can you please look into this if you will have some spare tim

[2019-08-05 08:46] savichev-igor commented on #320
@benjamin-thomas i think you should do like this:
[code]
If that doesn't help, maybe @dragonsmith can suggest something 🙂

[2019-08-05 09:48] nicodimi commented on #364
Hi,
I've closed the issue. This was a mistake from our side regarding the configuration.
WAL-G is working correctly for deleting old backups.